Repository tendermint/tendermint, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @marbar3778, @cmwaters

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Everything goes through the following "global owners" by default. 
# Unless a later match takes precedence, these three will be
# requested for review when someone opens a PR. 
# Note that the last matching pattern takes precedence, so
# global owners are only requested if there isn't a more specific
# codeowner specified below. For this reason, the global codeowners 
# are often repeated in package-level definitions.
*       @ebuchman @erikgrinaker @melekes @tessr 

# Overrides for tooling packages
.circleci/ @marbar3778  @ebuchman @erikgrinaker @melekes @tessr 
.github/ @marbar3778 @ebuchman @erikgrinaker @melekes @tessr 
DOCKER/ @marbar3778 @ebuchman @erikgrinaker @melekes @tessr 

# Overrides for core Tendermint packages 
abci/  @marbar3778 @ebuchman @erikgrinaker @melekes @tessr 
evidence/ @cmwaters @ebuchman @erikgrinaker @melekes @tessr
light/ @cmwaters @melekes @ebuchman

# Overrides for docs
*.md @marbar3778 @ebuchman @erikgrinaker @melekes @tessr  
docs/ @marbar3778 @ebuchman @erikgrinaker @melekes @tessr

add small godocs
  state/store.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

remove commented code
  state/state_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

pull abci Evidence from evpool
  consensus/reactor_test.go
  consensus/replay_stubs.go
  evidence/pool.go
  p2p/mocks/peer.go
  proxy/mocks/app_conn_consensus.go
  proxy/mocks/app_conn_mempool.go
  proxy/mocks/app_conn_query.go
  proxy/mocks/app_conn_snapshot.go
  state/execution.go
  state/mocks/evidence_pool.go
  state/services.go
  statesync/mocks/state_provider.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters

remove state from interface function names
  blockchain/v0/reactor_test.go
  blockchain/v1/reactor_test.go
  blockchain/v2/reactor_test.go
  consensus/byzantine_test.go
  consensus/common_test.go
  consensus/reactor_test.go
  consensus/replay_test.go
  node/node.go
  state/state_test.go
  state/store.go
  state/store_test.go
  state/tx_filter_test.go
  store/store_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

Add docs, Fix reviewed code
  cmd/tendermint/commands/run_node.go
  config/config.go
  config/toml.go
  consensus/wal_generator.go
  docs/tendermint-core/configuration.md
  docs/tendermint-core/validators.md
  node/node.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @marbar3778

implement suggested changes
  evidence/pool.go
  evidence/verify.go
  evidence/verify_test.go
  rpc/client/evidence_test.go
  types/protobuf.go
  types/protobuf_test.go
Owners: @cmwaters, @ebuchman, @erikgrinaker, @melekes, @tessr

add test to create abci evidence
  evidence/pool.go
  evidence/pool_test.go
  state/execution.go
Owners: @cmwaters, @ebuchman, @erikgrinaker, @melekes, @tessr

implement suggested changes
  evidence/pool.go
  evidence/verify.go
  light/detector.go
Owners: @cmwaters, @ebuchman, @erikgrinaker, @melekes, @tessr

docs: make rfc section disppear (#5353)
  docs/rfc/README.md
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

add evidence verification tests
  evidence/pool.go
  evidence/verify.go
  evidence/verify_test.go
Owners: @cmwaters, @ebuchman, @erikgrinaker, @melekes, @tessr

revert timeout period
  consensus/reactor_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

Add Long info to run_node about validator mode
  cmd/tendermint/commands/run_node.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

docs: document max entries for `/blockchain` RPC
  rpc/openapi/openapi.yaml
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

Apply suggestions from code review
  node/node.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

modify light cleint evidence (common height)
  light/detector.go
  state/execution_test.go
  types/evidence.go
  types/evidence_test.go
Owners: @cmwaters, @melekes, @ebuchman, @erikgrinaker, @tessr

Update evidence/pool.go
  evidence/pool.go
Owners: @cmwaters, @ebuchman, @erikgrinaker, @melekes, @tessr

retrieving pending evidence does not need to check expiration
  evidence/pool.go
Owners: @cmwaters, @ebuchman, @erikgrinaker, @melekes, @tessr

state: define interface for state store (#5348)
  CHANGELOG_PENDING.md
  blockchain/v0/reactor_test.go
  blockchain/v1/reactor_test.go
  blockchain/v2/reactor_test.go
  consensus/byzantine_test.go
  consensus/common_test.go
  consensus/mempool_test.go
  consensus/reactor_test.go
  consensus/replay.go
  consensus/replay_file.go
  consensus/replay_test.go
  consensus/state.go
  consensus/wal_generator.go
  evidence/pool.go
  evidence/pool_test.go
  evidence/reactor_test.go
  evidence/services.go
  evidence/verify.go
  evidence/verify_test.go
  node/node.go
  node/node_test.go
  rpc/core/blocks.go
  rpc/core/blocks_test.go
  rpc/core/consensus.go
  rpc/core/env.go
  rpc/core/status.go
  state/execution.go
  state/execution_test.go
  state/export_test.go
  state/helpers_test.go
  state/state_test.go
  state/store.go
  state/store_test.go
  state/tx_filter_test.go
  state/validation.go
  state/validation_test.go
  store/store_test.go
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters

add commands for the various supported dbs
  Makefile
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

revert default setting of cgo
  Makefile
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

docs: document max entries for `/blockchain` RPC (#5356)
  rpc/openapi/openapi.yaml
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

evidence: refactor evidence pool (#5345)
  consensus/byzantine_test.go
  consensus/reactor_test.go
  consensus/replay_stubs.go
  consensus/state.go
  evidence/mocks/block_store.go
  evidence/mocks/state_store.go
  evidence/pool.go
  evidence/pool_test.go
  evidence/reactor.go
  evidence/reactor_test.go
  evidence/services.go
  evidence/verify.go
  evidence/verify_test.go
  light/client.go
  light/client_test.go
  light/detector.go
  light/detector_test.go
  light/errors.go
  light/helpers_test.go
  light/verifier.go
  node/node_test.go
  proto/tendermint/evidence/types.pb.go
  proto/tendermint/evidence/types.proto
  rpc/client/evidence_test.go
  state/execution.go
  state/mocks/evidence_pool.go
  state/services.go
  state/validation.go
  state/validation_test.go
  types/evidence.go
  types/evidence_test.go
  types/protobuf.go
  types/protobuf_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters

makefile: add options for other DBs (#5357)
  Makefile
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

rpc: fix openapi spec syntax error
  rpc/openapi/openapi.yaml
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

fix open api docs
  rpc/openapi/openapi.yaml
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

rpc: fix openapi spec syntax error (#5358)
  rpc/openapi/openapi.yaml
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

split out evpool update function
  blockchain/v0/reactor_test.go
  blockchain/v2/reactor_test.go
  consensus/common_test.go
  consensus/reactor_test.go
  consensus/replay.go
  consensus/replay_file.go
  consensus/replay_stubs.go
  consensus/replay_test.go
  consensus/wal_generator.go
  evidence/pool.go
  evidence/pool_test.go
  evidence/verify_test.go
  state/execution.go
  state/execution_test.go
  state/mocks/evidence_pool.go
  state/services.go
  state/validation_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters

fix tests and clean up
  blockchain/v1/reactor_test.go
  consensus/reactor_test.go
  evidence/pool.go
  evidence/pool_test.go
  evidence/verify.go
  evidence/verify_test.go
  light/detector.go
  light/detector_test.go
  rpc/client/evidence_test.go
  state/execution.go
  state/execution_test.go
  state/services.go
  state/validation_test.go
  types/evidence.go
  types/evidence_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters

remove commented out code
  evidence/verify_test.go
Owners: @cmwaters, @ebuchman, @erikgrinaker, @melekes, @tessr

docs: block file format ADR
  docs/architecture/adr-060-block-file-format.md
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

add tests and implement suggested changes
  consensus/byzantine_test.go
  evidence/pool.go
  evidence/verify.go
  state/execution_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters

abci: application evidence prepared by evidence pool (#5354)
  blockchain/v0/reactor_test.go
  blockchain/v1/reactor_test.go
  blockchain/v2/reactor_test.go
  consensus/byzantine_test.go
  consensus/common_test.go
  consensus/reactor_test.go
  consensus/replay.go
  consensus/replay_file.go
  consensus/replay_stubs.go
  consensus/replay_test.go
  consensus/wal_generator.go
  evidence/pool.go
  evidence/pool_test.go
  evidence/verify.go
  evidence/verify_test.go
  light/detector.go
  light/detector_test.go
  p2p/mocks/peer.go
  proxy/mocks/app_conn_consensus.go
  proxy/mocks/app_conn_mempool.go
  proxy/mocks/app_conn_query.go
  proxy/mocks/app_conn_snapshot.go
  rpc/client/evidence_test.go
  state/execution.go
  state/execution_test.go
  state/mocks/evidence_pool.go
  state/services.go
  state/validation_test.go
  statesync/mocks/state_provider.go
  types/evidence.go
  types/evidence_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters

fix data race
  evidence/pool.go
Owners: @cmwaters, @ebuchman, @erikgrinaker, @melekes, @tessr

proto lint
  proto/tendermint/evidence/types.pb.go
  proto/tendermint/evidence/types.proto
Owners: @cmwaters, @ebuchman, @erikgrinaker, @melekes, @tessr

add more tests and fix bug
  evidence/pool.go
  evidence/pool_test.go
  evidence/verify.go
  evidence/verify_test.go
Owners: @cmwaters, @ebuchman, @erikgrinaker, @melekes, @tessr

rpc: fix test data races
  rpc/jsonrpc/server/http_server_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

rpc: fix test data races (#5363)
  rpc/jsonrpc/server/http_server_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

implement suggested changes
  consensus/byzantine_test.go
  consensus/reactor_test.go
  consensus/state.go
  evidence/pool.go
  evidence/pool_test.go
  evidence/verify.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters
