Repository tendermint/tendermint, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @marbar3778, @cmwaters

rfc: add end-to-end testing RFC (#5337)
  docs/rfc/rfc-001-end-to-end-testing.md
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

add check evidence and fast check to pool
  consensus/reactor_test.go
  consensus/state.go
  evidence/pool.go
  evidence/reactor.go
  evidence/services.go
  evidence/verify.go
  evidence/verify_test.go
  state/execution.go
  state/mocks/evidence_pool.go
  state/services.go
  state/validation.go
  state/validation_test.go
  types/protobuf.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters

add note on external components not being in scope for 1.0
  docs/architecture/adr-059-go-api-stability.md
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

begin morphing state store into an interface
  blockchain/v0/reactor_test.go
  blockchain/v1/reactor_test.go
  blockchain/v2/reactor_test.go
  evidence/pool.go
  evidence/pool_test.go
  evidence/reactor_test.go
  evidence/services.go
  evidence/verify.go
  node/node.go
  state/execution.go
  state/execution_test.go
  state/helpers_test.go
  state/state_test.go
  state/store.go
  state/store_test.go
  state/tx_filter_test.go
  state/validation.go
  store/store_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters

Add ADR-52 Tendermint Modes
  CHANGELOG_PENDING.md
  cmd/tendermint/commands/run_node.go
  cmd/tendermint/commands/testnet.go
  config/config.go
  config/toml.go
  consensus/wal_generator.go
  docs/architecture/adr-052-tendermint-mode.md
  docs/tendermint-core/validators.md
  networks/remote/integration.sh
  node/node.go
  rpc/core/status.go
  test/app/test.sh
  test/p2p/fast_sync/test_peer.sh
  test/p2p/kill_all/check_peers_fullnode.sh
  test/p2p/kill_all/test.sh
  test/p2p/local_testnet_start.sh
  test/p2p/pex/test_addrbook.sh
  test/p2p/test.sh
  test/persist/test_failure_indices.sh
  test/persist/test_simple.sh
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

update apidiff link to README
  docs/architecture/adr-059-go-api-stability.md
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

add a stale bot (#134)
  .github/workflows/stale.yml
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

migrate stateDB to stateStore
  blockchain/v0/reactor_test.go
  blockchain/v1/reactor_test.go
  blockchain/v2/reactor_test.go
  consensus/byzantine_test.go
  consensus/common_test.go
  consensus/mempool_test.go
  consensus/reactor_test.go
  consensus/replay.go
  consensus/replay_file.go
  consensus/replay_test.go
  consensus/state.go
  consensus/wal_generator.go
  evidence/pool.go
  evidence/pool_test.go
  evidence/reactor_test.go
  evidence/verify.go
  node/node.go
  node/node_test.go
  rpc/core/blocks.go
  rpc/core/blocks_test.go
  rpc/core/consensus.go
  rpc/core/env.go
  rpc/core/status.go
  state/execution.go
  state/execution_test.go
  state/export_test.go
  state/state_test.go
  state/store.go
  state/store_test.go
  state/validation_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters

Current versions of light client specs from tendermint-rs (#158)
  .markdownlint.yml
  rust-spec/lightclient/README.md
  rust-spec/lightclient/attacks/evidence-handling.md
  rust-spec/lightclient/detection/README.md
  rust-spec/lightclient/detection/detection.md
  rust-spec/lightclient/detection/discussions.md
  rust-spec/lightclient/detection/draft-functions.md
  rust-spec/lightclient/detection/req-ibc-detection.md
  rust-spec/lightclient/experiments.png
  rust-spec/lightclient/verification/001bmc-apalache.csv
  rust-spec/lightclient/verification/Blockchain_A_1.tla
  rust-spec/lightclient/verification/Lightclient_A_1.tla
  rust-spec/lightclient/verification/MC4_3_correct.tla
  rust-spec/lightclient/verification/MC4_3_faulty.tla
  rust-spec/lightclient/verification/MC4_4_faulty.tla
  rust-spec/lightclient/verification/MC4_5_correct.tla
  rust-spec/lightclient/verification/MC4_5_faulty.tla
  rust-spec/lightclient/verification/MC4_6_faulty.tla
  rust-spec/lightclient/verification/MC4_7_faulty.tla
  rust-spec/lightclient/verification/MC5_5_correct.tla
  rust-spec/lightclient/verification/MC5_5_faulty.tla
  rust-spec/lightclient/verification/MC5_7_faulty.tla
  rust-spec/lightclient/verification/MC7_5_faulty.tla
  rust-spec/lightclient/verification/MC7_7_faulty.tla
  rust-spec/lightclient/verification/verification.md
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @marbar3778

Fastsync spec from tendermint-rs (#157)
  rust-spec/fastsync/README.md
  rust-spec/fastsync/Tinychain.tla
  rust-spec/fastsync/fastsync.md
  rust-spec/fastsync/fastsync.tla
  rust-spec/fastsync/scheduler.tla
  rust-spec/fastsync/verification/001bmc-apalache.csv
  rust-spec/fastsync/verification/002tlc-tlc.csv
  rust-spec/fastsync/verification/MC-CorrectBlocksInv.cfg
  rust-spec/fastsync/verification/MC-CorrectNeverSuspectedInv.cfg
  rust-spec/fastsync/verification/MC-Sync1AsInv.cfg
  rust-spec/fastsync/verification/MC-Sync2AsInv.cfg
  rust-spec/fastsync/verification/MC-Sync3AsInv.cfg
  rust-spec/fastsync/verification/MC-SyncFromCorrectInv.cfg
  rust-spec/fastsync/verification/MC-Termination.cfg
  rust-spec/fastsync/verification/MC-TerminationByTO.cfg
  rust-spec/fastsync/verification/MC-TerminationCorr.cfg
  rust-spec/fastsync/verification/MC_1_0_4.tla
  rust-spec/fastsync/verification/MC_1_1_4.tla
  rust-spec/fastsync/verification/MC_1_2_4.tla
  rust-spec/fastsync/verification/MC_1_2_5.tla
  rust-spec/fastsync/verification/MC_1_3_5.tla
  rust-spec/fastsync/verification/MC_2_0_4.tla
  rust-spec/fastsync/verification/Tinychain.tla
  rust-spec/fastsync/verification/fastsync_apalache.tla
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

add changelog entry & comments to interface
  CHANGELOG_PENDING.md
  state/store.go
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

rewrite crypto readme
  crypto/README.md
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

crypto: reword readme (#5349)
  crypto/README.md
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

ignore .github folder for markdownlint
  .markdownlintignore
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

Update README.md (#160)
  README.md
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

add sentence on initial_height
  docs/tendermint-core/using-tendermint.md
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

add verification tests
  evidence/pool.go
  evidence/pool_test.go
  evidence/reactor_test.go
  evidence/services.go
  evidence/verify.go
  evidence/verify_test.go
  state/services.go
  state/validation.go
  types/evidence.go
Owners: @cmwaters, @ebuchman, @erikgrinaker, @melekes, @tessr

fix tests
  consensus/byzantine_test.go
  consensus/reactor_test.go
  consensus/replay_stubs.go
  consensus/state.go
  evidence/pool.go
  evidence/pool_test.go
  evidence/reactor_test.go
  evidence/services.go
  evidence/verify.go
  evidence/verify_test.go
  light/detector.go
  light/detector_test.go
  light/errors.go
  light/verifier.go
  proto/tendermint/evidence/types.pb.go
  proto/tendermint/evidence/types.proto
  state/mocks/evidence_pool.go
  state/services.go
  state/validation.go
  types/evidence_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters

more test fixing
  evidence/pool.go
  evidence/pool_test.go
  state/services.go
Owners: @cmwaters, @ebuchman, @erikgrinaker, @melekes, @tessr

spec/reactors/mempool: batch txs per peer (#155)
  spec/reactors/mempool/messages.md
  spec/reactors/mempool/reactor.md
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

docs: add more description to initial_height (#5350)
  docs/tendermint-core/using-tendermint.md
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

mempool: remove protoOverheadForTxsMessage
  config/config.go
  config/toml.go
  docs/tendermint-core/configuration.md
  mempool/reactor.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @marbar3778

address PR feedback
  docs/architecture/adr-059-go-api-stability.md
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

markdownlint: ignore .github directory
  .markdownlintignore
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

markdownlint: ignore .github directory (#5351)
  .markdownlintignore
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

update changelog
  CHANGELOG_PENDING.md
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

rpc/client: take context as first param
  cmd/tendermint/commands/debug/util.go
  cmd/tendermint/commands/lite.go
  light/client.go
  light/client_benchmark_test.go
  light/client_test.go
  light/example_test.go
  light/provider/http/http.go
  light/provider/http/http_test.go
  light/provider/mock/deadmock.go
  light/provider/mock/mock.go
  light/provider/provider.go
  light/proxy/routes.go
  light/rpc/client.go
  light/setup.go
  node/node.go
  rpc/client/event_test.go
  rpc/client/evidence_test.go
  rpc/client/examples_test.go
  rpc/client/helpers.go
  rpc/client/http/http.go
  rpc/client/interface.go
  rpc/client/local/local.go
  rpc/client/mock/abci.go
  rpc/client/mock/abci_test.go
  rpc/client/mock/client.go
  rpc/client/mock/status.go
  rpc/client/mock/status_test.go
  rpc/client/rpc_test.go
  statesync/mocks/state_provider.go
  statesync/snapshots.go
  statesync/snapshots_test.go
  statesync/stateprovider.go
  statesync/syncer.go
  statesync/syncer_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters

format file
  rpc/client/local/local.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

chore: prepare repo for fork
  DOCKER/Makefile
  DOCKER/build.sh
  DOCKER/push.sh
  Makefile
  go.mod
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

fix linter errors
  rpc/client/interface.go
  rpc/client/local/local.go
  rpc/client/mock/abci.go
  rpc/client/mock/abci_test.go
  rpc/client/mock/client.go
  rpc/client/rpc_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

return errors on the interface
  blockchain/v0/reactor_test.go
  blockchain/v1/reactor_test.go
  blockchain/v2/reactor_test.go
  consensus/byzantine_test.go
  consensus/common_test.go
  consensus/mempool_test.go
  consensus/reactor_test.go
  consensus/replay.go
  consensus/replay_file.go
  consensus/replay_test.go
  consensus/wal_generator.go
  evidence/pool.go
  evidence/pool_test.go
  evidence/reactor_test.go
  evidence/verify.go
  evidence/verify_test.go
  node/node.go
  node/node_test.go
  rpc/core/blocks_test.go
  rpc/core/env.go
  state/execution.go
  state/execution_test.go
  state/export_test.go
  state/helpers_test.go
  state/state_test.go
  state/store.go
  state/store_test.go
  state/tx_filter_test.go
  state/validation_test.go
  store/store_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters

make rfc section disppear
  docs/rfc/README.md
Owners: @marbar3778, @ebuchman, @erikgrinaker, @melekes, @tessr

small tweaks
  consensus/byzantine_test.go
  consensus/reactor_test.go
  consensus/replay_stubs.go
  evidence/pool.go
  evidence/pool_test.go
  evidence/verify_test.go
  light/client.go
  light/client_test.go
  light/detector.go
  light/detector_test.go
  node/node_test.go
  rpc/client/evidence_test.go
  state/mocks/evidence_pool.go
  state/services.go
  state/validation.go
  state/validation_test.go
  types/evidence.go
  types/evidence_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr, @cmwaters

rename sstore to stateStore
  consensus/byzantine_test.go
  consensus/common_test.go
  consensus/mempool_test.go
  consensus/reactor_test.go
  consensus/replay.go
  consensus/replay_file.go
  consensus/replay_test.go
  consensus/wal_generator.go
  node/node.go
  node/node_test.go
  rpc/core/blocks_test.go
  state/execution_test.go
  state/export_test.go
  state/helpers_test.go
  state/state_test.go
  state/store_test.go
  state/tx_filter_test.go
  state/validation_test.go
  store/store_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

comment out test
  state/store_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

wrap up text fixing
  light/detector_test.go
  light/helpers_test.go
  state/execution.go
  state/validation_test.go
Owners: @cmwaters, @melekes, @ebuchman, @erikgrinaker, @tessr

uncomment and fix test
  state/export_test.go
  state/store.go
  state/store_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

fix linter
  state/store_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

return more errors, panic less
  state/store.go
  state/store_test.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

no more panics
  state/store.go
Owners: @ebuchman, @erikgrinaker, @melekes, @tessr

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Everything goes through the following "global owners" by default. 
# Unless a later match takes precedence, these three will be
# requested for review when someone opens a PR. 
# Note that the last matching pattern takes precedence, so
# global owners are only requested if there isn't a more specific
# codeowner specified below. For this reason, the global codeowners 
# are often repeated in package-level definitions.
*       @ebuchman @erikgrinaker @melekes @tessr 

# Overrides for tooling packages
.circleci/ @marbar3778  @ebuchman @erikgrinaker @melekes @tessr 
.github/ @marbar3778 @ebuchman @erikgrinaker @melekes @tessr 
DOCKER/ @marbar3778 @ebuchman @erikgrinaker @melekes @tessr 

# Overrides for core Tendermint packages 
abci/  @marbar3778 @ebuchman @erikgrinaker @melekes @tessr 
evidence/ @cmwaters @ebuchman @erikgrinaker @melekes @tessr
light/ @cmwaters @melekes @ebuchman

# Overrides for docs
*.md @marbar3778 @ebuchman @erikgrinaker @melekes @tessr  
docs/ @marbar3778 @ebuchman @erikgrinaker @melekes @tessr
