Repository tendermint/tendermint, pull requests merged in 2018-07, with the labels that each got.

#1926 Peng/deprecate aib data
  CHANGELOG.md
  docs/app-dev/ecosystem.json
  docs/app-dev/ecosystem.md
  docs/interviews/tendermint-bft.md
  docs/tendermint-core/running-in-production.md
Labels: docs

#1805 Optimizing blockchain reactor.
  CHANGELOG_PENDING.md
  Gopkg.lock
  Gopkg.toml
  Makefile
  blockchain/pool.go
  blockchain/reactor.go
  privval/priv_validator_test.go
  state/store.go
  types/canonical_json.go
Labels: sync

#2045 rpc: log error when we timeout getting validators from consensus
  rpc/core/status.go
Labels: observability, rpc

#2061 crypto: Add benchmarking code for signature schemes
  crypto/ed25519/bench_test.go
  crypto/ed25519/ed25519.go
  crypto/internal/benchmarking/bench.go
  crypto/secp256k1/bench_test.go
  crypto/secp256k1/secp256k1.go
Labels: crypto, perf

#2058 crypto: Switch hkdfchacha back to xchacha
  CHANGELOG_PENDING.md
  crypto/hkdfchacha20poly1305/hkdfchachapoly.go
  crypto/xchacha20poly1305/vector_test.go
  crypto/xchacha20poly1305/xchachapoly.go
  crypto/xchacha20poly1305/xchachapoly_test.go
Labels: crypto, enhancement

#2070 rpc: improve slate for Jenkins
  .gitignore
  Makefile
  rpc/core/README.md
  rpc/core/slate_header.txt
Labels: docs, rpc

#2054 secret connection update
  CHANGELOG_PENDING.md
  Gopkg.lock
  docs/spec/p2p/peer.md
  p2p/conn/secret_connection.go
Labels: p2p

#2079 libs: update BitArray go docs
  libs/common/bit_array.go
Labels: docs, enhancement

#2082 HotFix for 0.22.7, bump to 0.22.8
  CHANGELOG.md
  blockchain/wire.go
  consensus/types/wire.go
  consensus/wire.go
  lite/files/wire.go
  rpc/core/types/wire.go
  types/wire.go
  version/version.go
Labels: bug, evidence

#2081 libs: Make bitarray functions lock parameters that aren't the caller
  CHANGELOG_PENDING.md
  libs/common/bit_array.go
Labels: enhancement, libs

#2088 consensus: Fix test for blocks with evidence
  consensus/common_test.go
  consensus/reactor_test.go
Labels: bug, consensus, test

#2102 Link to "The latest gossip on BFT consensus"
  README.md
Labels: docs

#2105 ci: Reduce log output in test_cover
  .circleci/config.yml
Labels: enhancement, test

#2074 change validators to last_commit_info in RequestBeginBlock
  CHANGELOG_PENDING.md
  abci/types/types.pb.go
  abci/types/types.proto
  abci/types/typespb_test.go
  docs/app-dev/abci-spec.md
  state/execution.go
  state/execution_test.go
  types/protobuf.go
  types/protobuf_test.go
Labels: abci, breaking, protocol, validator

#2117 [docs] validator's address can be skipped in ResponseEndBlock
  docs/app-dev/app-development.md
Labels: docs, enhancement

#2107 Modify blockchain spec to reflect validator set changes
  docs/spec/blockchain/blockchain.md
  docs/spec/blockchain/state.md
Labels: docs, enhancement

#2115 p2p/pex: Connect to peers from a seed node immediately
  CHANGELOG_PENDING.md
  p2p/pex/pex_reactor.go
  p2p/pex/pex_reactor_test.go
Labels: enhancement, p2p
