Repository tendermint/tendermint, pull requests merged in 2018-08, with the labels that each got.

#2120 p2p/secret_connection: Add test vectors for deriving secrets
  libs/common/random.go
  p2p/conn/secret_connection_test.go
  p2p/conn/testdata/TestDeriveSecretsAndChallengeGolden.golden
Labels: p2p, test

#2121 [ADR] Encoding for cryptography at launch
  docs/architecture/adr-015-crypto-encoding.md
Labels: design

#2097 revert "make `/status` RPC endpoint resistant to consensus halt"
  rpc/core/status.go
  rpc/core/status_test.go
Labels: rpc

#2096 [ADR] Proposal for encoding symmetric cryptography
  docs/architecture/adr-013-symmetric-crypto.md
Labels: design

#2129 p2p/pex: Allow configured seed nodes to not be resolvable over DNS
  CHANGELOG_PENDING.md
  p2p/pex/addrbook.go
  p2p/pex/addrbook_test.go
  p2p/pex/pex_reactor.go
  p2p/pex/pex_reactor_test.go
Labels: enhancement, p2p

#2106 add proposer address to block's Header
  CHANGELOG_PENDING.md
  abci/types/types.pb.go
  abci/types/types.proto
  blockchain/reactor_test.go
  consensus/state.go
  consensus/state_test.go
  docs/spec/blockchain/blockchain.md
  state/execution_test.go
  state/state.go
  state/state_test.go
  state/validation.go
  state/validation_test.go
  types/block.go
  types/block_test.go
  types/protobuf.go
  types/protobuf_test.go
Labels: abci, breaking, consensus, protocol

#2116 change ABCI header to match Tendermint exactly
  CHANGELOG_PENDING.md
  Gopkg.lock
  abci/types/types.pb.go
  abci/types/types.proto
  abci/types/typespb_test.go
  types/block.go
  types/proto3/block.pb.go
  types/proto3/block.proto
  types/protobuf.go
Labels: abci, breaking, protocol

#1960 [ADR] Proposal for multisignature encoding
  docs/architecture/adr-019-multisigs.md
Labels: design

#1813 [ADR] ProposeTx
  docs/architecture/adr-012-ABCI-propose-tx.md
Labels: design, waiting for response

#2212 fix #1544
  node/node.go
  rpc/test/helpers.go
Labels: breaking

#2255 Cleanup up Multisig naming
  crypto/encoding/amino/amino.go
  crypto/encoding/amino/encode_test.go
  crypto/multisig/bitarray/compact_bit_array.go
  crypto/multisig/bitarray/compact_bit_array_test.go
  crypto/multisig/multisignature.go
  crypto/multisig/threshold_pubkey.go
  crypto/multisig/threshold_pubkey_test.go
  crypto/multisig/wire.go
Labels: breaking, crypto

#2264 update secret connection to use a little endian encoded nonce
  p2p/conn/secret_connection.go
Labels: breaking, p2p

#2184 MaxBytes
  Gopkg.lock
  abci/types/types.pb.go
  abci/types/types.proto
  abci/types/types_test.go
  consensus/mempool_test.go
  consensus/reactor_test.go
  consensus/state.go
  docs/architecture/adr-020-block-size.md
  evidence/pool.go
  evidence/reactor_test.go
  evidence/store.go
  evidence/store_test.go
  mempool/mempool.go
  mempool/mempool_test.go
  mempool/reactor_test.go
  node/node.go
  rpc/client/rpc_test.go
  rpc/core/mempool.go
  rpc/core/pipe.go
  state/execution.go
  state/services.go
  state/state_test.go
  types/block.go
  types/block_test.go
  types/evidence.go
  types/evidence_test.go
  types/genesis.go
  types/params.go
  types/params_test.go
  types/protobuf.go
  types/protobuf_test.go
  types/vote.go
  types/vote_test.go
Labels: abci, consensus, evidence

#2203 Implement BFT time
  CHANGELOG_PENDING.md
  blockchain/store_test.go
  cmd/tendermint/commands/init.go
  cmd/tendermint/commands/testnet.go
  config/config.go
  consensus/common_test.go
  consensus/reactor.go
  consensus/reactor_test.go
  consensus/state.go
  consensus/types/height_vote_set_test.go
  consensus/types/round_state_test.go
  consensus/wal.go
  consensus/wal_test.go
  docs/spec/consensus/bft-time.md
  evidence/pool_test.go
  libs/log/tmfmt_logger.go
  lite/helpers.go
  privval/priv_validator.go
  privval/priv_validator_test.go
  scripts/json2wal/main.go
  state/execution_test.go
  state/state.go
  state/validation.go
  types/block.go
  types/genesis_test.go
  types/proposal.go
  types/test_util.go
  types/time/time.go
  types/time/time_test.go
  types/validator_set_test.go
  types/vote_set_test.go
Labels: consensus
