Repository tendermint/tendermint, pull requests merged in 2018-10, with the labels that each got.

#2503 config: refactor ValidateBasic
  CHANGELOG_PENDING.md
  config/config.go
Labels: distribution, enhancement

#2493 consensus: Wait timeout precommit before starting new round
  CHANGELOG_PENDING.md
  config/config.go
  consensus/common_test.go
  consensus/reactor.go
  consensus/state.go
  consensus/state_test.go
  lite/dynamic_verifier_test.go
  p2p/conn/connection.go
  p2p/peer.go
  p2p/test_util.go
Labels: bug, consensus

#2539 [libs/autofile] fix DATA RACE by removing openFile() call
  libs/autofile/group.go
Labels: bug, libs

#2445 [ADR][DRAFT] 024: SignBytes and validator types in privval
  docs/architecture/adr-024-sign-bytes.md
Labels: design, docs

#2462 [ADR][DRAFT] 030: Consensus refactor
  docs/architecture/adr-030-consensus-refactor.md
Labels: consensus, design, enhancement, proposal

#2405 tools: Fix tm bench quit
  tools/tm-bench/main.go
Labels: enhancement, tools

#2584 tools: update docs & fix build-docker Makefile target
  tools/tm-bench/Dockerfile
  tools/tm-bench/Makefile
  tools/tm-bench/README.md
  tools/tm-monitor/Dockerfile
  tools/tm-monitor/Makefile
  tools/tm-monitor/README.md
Labels: tools

#2588 libs: Test deadlock from listener removal inside callback
  libs/events/events_test.go
Labels: test
