Repository tendermint/tendermint, pull requests merged in 2018-09, with the labels that each got.

#2134 Add priv_validator_laddr to config.toml
  config/config.go
  config/toml.go
Labels: bug, validator

#2417 [rpc] transform /status result.node_info.other into map
  CHANGELOG_PENDING.md
  benchmarks/codec_test.go
  docs/spec/p2p/peer.md
  node/node.go
  p2p/node_info.go
  p2p/test_util.go
  rpc/core/status.go
  rpc/core/types/responses.go
  rpc/core/types/responses_test.go
Labels: enhancement, rpc

#2418 [types] add Address to GenesisValidator
  CHANGELOG_PENDING.md
  cmd/tendermint/commands/init.go
  cmd/tendermint/commands/testnet.go
  state/execution_test.go
  types/genesis.go
  types/genesis_test.go
Labels: distribution, enhancement

#2449 Minor changelog fixes
  CHANGELOG_PENDING.md
  README.md
Labels: docs, enhancement

#2453 instructions and assets for building docs locally
  .gitignore
  docs/.vuepress/config.js
  docs/.vuepress/dist/404.html
  docs/.vuepress/dist/assets/css/1.styles.c01b7ee3.css
  docs/.vuepress/dist/assets/img/search.83621669.svg
  docs/.vuepress/dist/assets/js/0.7c2695bf.js
  docs/.vuepress/dist/assets/js/app.48f1ff5f.js
  docs/.vuepress/dist/index.html
  docs/DOCS_README.md
  docs/package-lock.json
  docs/spec/README.md
  docs/spec/blockchain/blockchain.md
  docs/spec/blockchain/encoding.md
  docs/spec/blockchain/state.md
  docs/spec/consensus/bft-time.md
  docs/spec/consensus/light-client.md
  docs/spec/p2p/node.md
  docs/spec/p2p/peer.md
Labels: docs, tools

#2461 Pass http.ServeTLS() errors back to the caller
  CHANGELOG_PENDING.md
  rpc/lib/server/http_server.go
  rpc/lib/server/http_server_test.go
Labels: bug, rpc

#2388 Mark peer as good fix
  CHANGELOG_PENDING.md
  cmd/tendermint/commands/init.go
  cmd/tendermint/commands/testnet.go
  consensus/metrics.go
  consensus/reactor.go
  consensus/reactor_test.go
  consensus/state.go
  consensus/state_test.go
Labels: bug, consensus, p2p, security

#2385 mempool: Filter new txs if they have insufficient gas
  mempool/mempool.go
  mempool/mempool_test.go
  node/node.go
  state/execution.go
  state/services.go
Labels: enhancement, mempool

#2425 metrics: Add additional metrics to p2p and consensus
  CHANGELOG_PENDING.md
  config/config.go
  config/toml.go
  consensus/metrics.go
  consensus/reactor.go
  consensus/state.go
  docs/tendermint-core/configuration.md
  mempool/metrics.go
  node/node.go
  p2p/conn/connection.go
  p2p/metrics.go
  p2p/peer.go
  p2p/peer_set_test.go
  p2p/switch.go
  p2p/test_util.go
  p2p/transport.go
Labels: consensus, observability, p2p

#2497 docs: Add version
  docs/DOCS_README.md
  docs/README.md
Labels: docs, enhancement

#2490 mempool: Disable WAL by default
  CHANGELOG_PENDING.md
  config/config.go
  docs/tendermint-core/running-in-production.md
Labels: enhancement, mempool

#2459 privval: Switch to amino encoding in SignBytes
  CHANGELOG_PENDING.md
  docs/spec/blockchain/blockchain.md
  docs/spec/blockchain/encoding.md
  privval/priv_validator.go
  privval/socket.go
  privval/socket_test.go
  types/canonical.go
  types/canonical_json.go
  types/heartbeat.go
  types/heartbeat_test.go
  types/priv_validator.go
  types/proposal.go
  types/proposal_test.go
  types/vote.go
  types/vote_test.go
Labels: validator
