Repository tendermint/tendermint, pull requests merged in 2018-06, with the labels that each got.

#1672 Store CI test logs
  .circleci/config.yml
Labels: test

#1671 Remove auth_enc config option
  CHANGELOG.md
  config/config.go
  config/toml.go
  docs/examples/node0/config/config.toml
  docs/examples/node1/config/config.toml
  docs/examples/node2/config/config.toml
  docs/examples/node3/config/config.toml
  docs/spec/p2p/peer.md
  docs/specification/configuration.rst
  docs/specification/secure-p2p.rst
  node/node.go
  p2p/peer.go
  p2p/peer_test.go
  p2p/switch.go
Labels: p2p

#1675 Disable slate step in CI workflow
  .circleci/config.yml
Labels: test

#1676 Collapse PeerConfig into P2PConfig
  config/config.go
  p2p/conn/connection.go
  p2p/fuzz.go
  p2p/peer.go
  p2p/peer_test.go
  p2p/pex/pex_reactor_test.go
  p2p/switch.go
  p2p/switch_test.go
  p2p/test_util.go
Labels: p2p

#1702 Fix race when mutating MConnConfig
  config/config.go
  p2p/peer.go
  p2p/peer_test.go
  p2p/switch.go
Labels: p2p, test

#1738 Add algorithm for Blockchain Reactor
  docs/spec/reactors/block_sync/img/bc-reactor.png
  docs/spec/reactors/block_sync/reactor.md
Labels: consensus, docs, sync

#1737 metrics
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  config/config.go
  config/toml.go
  consensus/metrics.go
  consensus/state.go
  docs/architecture/adr-011-monitoring.md
  docs/index.rst
  docs/metrics.md
  docs/specification/configuration.md
  mempool/mempool.go
  mempool/metrics.go
  node/node.go
  p2p/metrics.go
  p2p/switch.go
  rpc/test/helpers.go
  types/block.go
Labels: observability

#1800 docs cleanup
  docs/README.md
  docs/_static/custom_collapsible_code.css
  docs/_static/custom_collapsible_code.js
  docs/_templates/layout.html
  docs/abci-cli.md
  docs/deploy-testnets.md
  docs/getting-started.md
  docs/how-to-read-logs.md
  docs/index.rst
  docs/specification.rst
  docs/using-tendermint.md
Labels: docs, enhancement
