Repository tendermint/tendermint, pull requests merged in 2019-12, with the labels that each got.

#4046 Rename Tag(s) to Event(s)
  CHANGELOG_PENDING.md
  config/config.go
  config/toml.go
  docs/app-dev/indexing-transactions.md
  docs/tendermint-core/configuration.md
  docs/tendermint-core/running-in-production.md
  libs/pubsub/query/empty.go
  libs/pubsub/query/query.go
  libs/pubsub/query/query_test.go
  libs/pubsub/subscription.go
  node/node.go
  rpc/client/rpc_test.go
  rpc/test/helpers.go
  state/txindex/indexer_service.go
  state/txindex/indexer_service_test.go
  state/txindex/kv/kv.go
  state/txindex/kv/kv_bench_test.go
  state/txindex/kv/kv_test.go
  types/event_bus.go
  types/event_bus_test.go
  types/events.go
Labels: breaking, code-hygiene, major-release

#4190 crypto: add sr25519 signature scheme
  CHANGELOG_PENDING.md
  crypto/README.md
  crypto/encoding/amino/amino.go
  crypto/encoding/amino/encode_test.go
  crypto/sr25519/bench_test.go
  crypto/sr25519/codec.go
  crypto/sr25519/privkey.go
  crypto/sr25519/pubkey.go
  crypto/sr25519/sr25519_test.go
  go.mod
  go.sum
  types/protobuf.go
Labels: crypto

#4221 docs: Fix broken rpc link
  docs/tendermint-core/rpc.md
Labels: docs

#4222 docs: fix broken ecosystem link
  abci/README.md
Labels: docs

#4223 rpc: update swagger docs to openapi 3.0
  .circleci/config.yml
  rpc/swagger/swagger.yaml
Labels: docs, rpc

#4230 libs/common: refactor libs/common 01
  CHANGELOG_PENDING.md
  Makefile
  UPGRADING.md
  abci/example/kvstore/kvstore.go
  abci/types/messages_test.go
  abci/types/types.pb.go
  abci/types/types.proto
  abci/types/typespb_test.go
  crypto/merkle/simple_map.go
  docs/app-dev/app-development.md
  docs/app-dev/indexing-transactions.md
  docs/architecture/adr-037-deliver-block.md
  libs/common/int_test.go
  libs/kv/kvpair.go
  libs/kv/result.go
  libs/kv/types.pb.go
  libs/kv/types.proto
  libs/kv/typespb_test.go
  rpc/swagger/swagger.yaml
  state/state_test.go
  state/txindex/kv/kv.go
  state/txindex/kv/kv_bench_test.go
  state/txindex/kv/kv_test.go
  state/txindex/kv/utils.go
  state/txindex/kv/utils_test.go
  types/event_bus_test.go
Labels: code-hygiene, libs

#4231 libs/common: refactor libs/common 2
  CHANGELOG_PENDING.md
  PHILOSOPHY.md
  abci/client/socket_client_test.go
  abci/example/kvstore/helpers.go
  abci/tests/server/client.go
  blockchain/v0/pool_test.go
  blockchain/v1/peer_test.go
  blockchain/v1/reactor_fsm_test.go
  cmd/tendermint/commands/init.go
  cmd/tendermint/commands/testnet.go
  consensus/replay_test.go
  consensus/state_test.go
  consensus/types/round_state_test.go
  consensus/wal_generator.go
  crypto/merkle/simple_tree_test.go
  crypto/multisig/bitarray/compact_bit_array_test.go
  libs/autofile/autofile.go
  libs/autofile/group_test.go
  libs/clist/clist_test.go
  libs/common/bit_array.go
  libs/common/bit_array_test.go
  libs/common/tempfile_test.go
  libs/events/events_test.go
  libs/rand/random.go
  libs/rand/random_test.go
  libs/test/mutate.go
  lite/dbprovider.go
  lite2/client.go
  mempool/clist_mempool_test.go
  node/node_test.go
  p2p/conn/secret_connection_test.go
  p2p/fuzz.go
  p2p/key_test.go
  p2p/pex/addrbook.go
  p2p/pex/addrbook_test.go
  p2p/pex/pex_reactor.go
  p2p/switch.go
  p2p/test_util.go
  privval/signer_client_test.go
  privval/signer_listener_endpoint_test.go
  proxy/app_conn_test.go
  rpc/client/event_test.go
  rpc/lib/client/ws_client.go
  rpc/lib/rpc_test.go
  state/helpers_test.go
  state/state_test.go
  state/tx_filter_test.go
  state/txindex/kv/kv_test.go
  types/block_test.go
  types/event_bus_test.go
  types/part_set_test.go
  types/tx_test.go
  types/validator.go
  types/validator_set_test.go
  types/vote_set_test.go
Labels: code-hygiene, libs

#4232 libs/common: refactor libs common 3
  CHANGELOG_PENDING.md
  abci/client/client.go
  abci/client/grpc_client.go
  abci/client/local_client.go
  abci/client/socket_client.go
  abci/client/socket_client_test.go
  abci/example/kvstore/kvstore_test.go
  abci/server/grpc_server.go
  abci/server/server.go
  abci/server/socket_server.go
  blockchain/v0/pool.go
  blockchain/v0/reactor.go
  blockchain/v1/reactor.go
  consensus/byzantine_test.go
  consensus/state.go
  consensus/ticker.go
  consensus/wal.go
  libs/autofile/group.go
  libs/events/README.md
  libs/events/events.go
  libs/pubsub/pubsub.go
  libs/service/service.go
  libs/service/service_test.go
  lite2/rpc/client.go
  mempool/clist_mempool_test.go
  node/node.go
  p2p/base_reactor.go
  p2p/conn/connection.go
  p2p/mock/peer.go
  p2p/peer.go
  p2p/peer_set_test.go
  p2p/pex/addrbook.go
  p2p/pex/pex_reactor.go
  p2p/switch.go
  p2p/trust/metric.go
  p2p/trust/store.go
  privval/signer_dialer_endpoint.go
  privval/signer_endpoint.go
  privval/signer_listener_endpoint.go
  privval/signer_server.go
  proxy/multi_app_conn.go
  rpc/client/httpclient.go
  rpc/client/interface.go
  rpc/client/mock/client.go
  rpc/lib/client/ws_client.go
  rpc/lib/server/ws_handler.go
  state/txindex/indexer_service.go
  types/encoding_helper.go
  types/event_bus.go
  types/utils.go
Labels: code-hygiene, libs

#4236 docs: remove "0 means latest" from swagger docs
  rpc/swagger/swagger.yaml
Labels: R4R, docs, rpc

#4238 cli: add optional `--genesis_hash` flag to check genesis hash upon st…
  CHANGELOG_PENDING.md
  cmd/tendermint/commands/run_node.go
  node/node.go
Labels: R4R, feature, validator

#4239 config: add rocksdb as a db backend option
  CHANGELOG_PENDING.md
  cmd/tendermint/commands/run_node.go
  config/config.go
  config/toml.go
  docs/tendermint-core/configuration.md
Labels: R4R, docs

#4237 libs/common: Refactor libs/common 4
  CHANGELOG_PENDING.md
  abci/client/socket_client.go
  cmd/tendermint/commands/testnet.go
  consensus/common_test.go
  consensus/reactor_test.go
  consensus/types/round_state.go
  crypto/crypto.go
  libs/.editorconfig
  libs/.gitignore
  libs/README.md
  libs/bytes/bytes.go
  libs/bytes/bytes_test.go
  libs/bytes/byteslice.go
  libs/tempfile/tempfile.go
  libs/tempfile/tempfile_test.go
  libs/test.sh
  libs/timer/throttle_timer.go
  libs/timer/throttle_timer_test.go
  lite/proxy/proxy.go
  lite/proxy/query.go
  lite/proxy/wrapper.go
  lite2/proxy/routes.go
  lite2/rpc/client.go
  p2p/conn/connection.go
  p2p/node_info.go
  p2p/peer_test.go
  p2p/pex/file.go
  privval/file.go
  privval/file_deprecated.go
  rpc/client/httpclient.go
  rpc/client/interface.go
  rpc/client/localclient.go
  rpc/client/mock/abci.go
  rpc/client/mock/abci_test.go
  rpc/client/mock/client.go
  rpc/client/mock/status_test.go
  rpc/core/abci.go
  rpc/core/status.go
  rpc/core/types/responses.go
  rpc/lib/rpc_test.go
  rpc/lib/server/parse_test.go
  types/block.go
  types/block_test.go
  types/canonical.go
  types/genesis.go
  types/part_set.go
  types/proposal.go
  types/results.go
  types/tx.go
  types/vote.go
Labels: code-hygiene, libs

#4242 scripts: remove install scripts
  docs/introduction/install.md
  scripts/install/install_tendermint_arm.sh
  scripts/install/install_tendermint_bsd.sh
  scripts/install/install_tendermint_osx.sh
  scripts/install/install_tendermint_ubuntu.sh
Labels: R4R, docs

#4227 Debug Command
  CHANGELOG_PENDING.md
  cmd/tendermint/commands/debug/debug.go
  cmd/tendermint/commands/debug/dump.go
  cmd/tendermint/commands/debug/io.go
  cmd/tendermint/commands/debug/kill.go
  cmd/tendermint/commands/debug/util.go
  cmd/tendermint/main.go
  docs/tendermint-core/running-in-production.md
Labels: R4R, tools

#4250 rpc: added proposer in consensus_state
  CHANGELOG_PENDING.md
  consensus/types/round_state.go
  rpc/swagger/swagger.yaml
Labels: consensus, rpc

#4258 lint: golint issue fixes
  CHANGELOG_PENDING.md
  abci/client/socket_client_test.go
  abci/example/kvstore/helpers.go
  abci/tests/server/client.go
  blockchain/v0/pool_test.go
  blockchain/v1/peer_test.go
  blockchain/v1/reactor_fsm_test.go
  cmd/tendermint/commands/init.go
  cmd/tendermint/commands/testnet.go
  consensus/replay_test.go
  consensus/state_test.go
  consensus/types/round_state_test.go
  consensus/wal_generator.go
  crypto/merkle/simple_tree_test.go
  crypto/multisig/bitarray/compact_bit_array_test.go
  crypto/sr25519/privkey.go
  crypto/sr25519/pubkey.go
  libs/autofile/autofile.go
  libs/autofile/group_test.go
  libs/bits/bit_array.go
  libs/bits/bit_array_test.go
  libs/clist/clist_test.go
  libs/rand/random.go
  libs/rand/random_test.go
  libs/tempfile/tempfile_test.go
  libs/test/mutate.go
  lite/dbprovider.go
  lite2/client.go
  mempool/clist_mempool_test.go
  node/node_test.go
  p2p/conn/secret_connection_test.go
  p2p/fuzz.go
  p2p/key_test.go
  p2p/pex/addrbook.go
  p2p/pex/addrbook_test.go
  p2p/pex/pex_reactor.go
  p2p/switch.go
  p2p/switch_test.go
  p2p/test_util.go
  privval/signer_client_test.go
  privval/signer_listener_endpoint_test.go
  proxy/app_conn_test.go
  rpc/client/event_test.go
  rpc/lib/client/ws_client.go
  rpc/lib/rpc_test.go
  state/helpers_test.go
  state/state_test.go
  state/tx_filter_test.go
  state/txindex/kv/kv_test.go
  types/block_test.go
  types/event_bus_test.go
  types/part_set_test.go
  types/tx_test.go
  types/validator.go
  types/validator_set_test.go
  types/vote_set_test.go
Labels: code-hygiene

#4255 delete tm-monitor tool #4247
  docs/tendermint-core/running-in-production.md
  docs/tools/monitoring.md
  rpc/lib/doc.go
  tools.mk
  tools/tm-monitor/Dockerfile
  tools/tm-monitor/Dockerfile.dev
  tools/tm-monitor/Makefile
  tools/tm-monitor/README.md
  tools/tm-monitor/codec.go
  tools/tm-monitor/eventmeter/eventmeter.go
  tools/tm-monitor/main.go
  tools/tm-monitor/mock/eventmeter.go
  tools/tm-monitor/monitor/codec.go
  tools/tm-monitor/monitor/monitor.go
  tools/tm-monitor/monitor/monitor_test.go
  tools/tm-monitor/monitor/network.go
  tools/tm-monitor/monitor/network_test.go
  tools/tm-monitor/monitor/node.go
  tools/tm-monitor/monitor/node_test.go
  tools/tm-monitor/rpc.go
  tools/tm-monitor/ton.go
Labels: code-hygiene, tools

#4194 cs: set missing_validators(_power) metrics to 0 for 1st block
  consensus/state.go
  state/execution.go
Labels: R4R, consensus

#4263 prometheus/metrics: three new metrics for consensus
  CHANGELOG_PENDING.md
  consensus/metrics.go
  consensus/state.go
  docs/tendermint-core/metrics.md
Labels: consensus, observability, validator

#4268 docs: link fixes in readme
  Makefile
  README.md
  docs/spec/blockchain/blockchain.md
Labels: docs

#4271 cmd/debug: execute p.Signal when p is not nil
  cmd/tendermint/commands/debug/kill.go
Labels: R4R
