Repository tendermint/tendermint, pull requests merged in 2019-10, with the labels that each got.

#4035 docs: any path can be absolute or relative
  config/toml.go
  docs/spec/reactors/mempool/config.md
  docs/tendermint-core/configuration.md
Labels: docs

#4037 Cleanup docs
  docs/app-dev/abci-spec.md
  docs/app-dev/ecosystem.json
  docs/app-dev/ecosystem.md
  docs/research/determinism.md
  docs/research/transactional-semantics.md
  docs/spec/consensus/wal.md
  docs/spec/software/abci.md
  docs/spec/software/wal.md
Labels: docs

#4040 Add Previous dev sessions
  docs/DEV_SESSIONS.md
Labels: docs

#4045 Update indexing-transactions.md
  docs/app-dev/indexing-transactions.md
Labels: R4R, docs

#4049 Add stale bot
  .github/CODEOWNERS
  .github/stale.yml
Labels: R4R

#4044 [Dev Session]: ABCI Overview (2/2)
  docs/DEV_SESSIONS.md
Labels: docs

#4056 New lint version upgrade
  .golangci.yml
  abci/tests/test_app/main.go
  config/config.go
  consensus/reactor_test.go
  consensus/types/peer_round_state.go
  consensus/types/round_state.go
  libs/flowrate/flowrate.go
  libs/flowrate/io_test.go
  node/node.go
  p2p/pex/addrbook.go
  p2p/pex/pex_reactor.go
  p2p/switch_test.go
  rpc/core/pipe.go
  rpc/lib/client/ws_client.go
  rpc/lib/server/handlers_test.go
  state/state_test.go
  tools/tm-bench/transacter.go
Labels: code-hygiene

#4062 Add unsafe routes to swagger
  rpc/swagger/swagger.yaml
Labels: docs, rpc

#4080 Fix reproducible builds
  scripts/gitian-build.sh
  scripts/gitian-descriptors/gitian-darwin.yml
  scripts/gitian-descriptors/gitian-linux.yml
  scripts/gitian-descriptors/gitian-windows.yml
Labels: R4R

#4070 Relax Tx Querying
  CHANGELOG_PENDING.md
  libs/pubsub/pubsub.go
  libs/pubsub/query/empty.go
  libs/pubsub/query/empty_test.go
  libs/pubsub/query/query.go
  libs/pubsub/query/query_test.go
  state/txindex/kv/kv.go
Labels: R4R, breaking, libs
