Repository tendermint/tendermint, pull requests merged in 2020-10, with the labels that each got.

#5433 config: set statesync.rpc_servers when generating config file
  CHANGELOG_PENDING.md
  config/toml.go
Labels: S:automerge

#5431 consensus: check block parts don't exceed maximum block bytes
  consensus/common_test.go
  consensus/state.go
  consensus/state_test.go
  types/part_set.go
  types/part_set_test.go
Labels: C:consensus

#5441 privval: fix ping message encoding
  CHANGELOG_PENDING.md
  privval/msgs.go
  privval/msgs_test.go
Labels: S:automerge

#5440 docs: revise ADR 56, documenting short term decision around amnesia evidence
  docs/architecture/adr-056-light-client-amnesia-attacks.md
  docs/architecture/adr-056-proving-amnesia-attacks.md
Labels: C:docs

#5443 light: expand on errors and docs
  docs/tendermint-core/light-client.md
  light/detector.go
  light/detector_test.go
  light/errors.go
Labels: C:light

#5435 test: add end-to-end testing framework
  .dockerignore
  .gitignore
  go.mod
  privval/file.go
  test/e2e/Makefile
  test/e2e/README.md
  test/e2e/app/app.go
  test/e2e/app/config.go
  test/e2e/app/main.go
  test/e2e/app/snapshots.go
  test/e2e/app/state.go
  test/e2e/docker/Dockerfile
  test/e2e/docker/entrypoint
  test/e2e/docker/entrypoint-builtin
  test/e2e/networks/ci.toml
  test/e2e/networks/simple.toml
  test/e2e/networks/single.toml
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/cleanup.go
  test/e2e/runner/exec.go
  test/e2e/runner/load.go
  test/e2e/runner/main.go
  test/e2e/runner/perturb.go
  test/e2e/runner/rpc.go
  test/e2e/runner/setup.go
  test/e2e/runner/start.go
  test/e2e/runner/test.go
  test/e2e/runner/wait.go
  test/e2e/tests/app_test.go
  test/e2e/tests/e2e_test.go
Labels: S:automerge

#5450 test: add basic end-to-end test cases
  test/e2e/tests/app_test.go
  test/e2e/tests/block_test.go
  test/e2e/tests/e2e_test.go
  test/e2e/tests/validator_test.go
Labels: S:automerge, T:test

#5452 test: add GitHub action for end-to-end tests
  .github/workflows/e2e.yml
  test/e2e/README.md
  test/e2e/docker/Dockerfile
  test/e2e/runner/main.go
Labels: S:automerge, T:test

#5459 fix RPC blockresults reutrn
  crypto/encoding/codec.go
Labels: C:rpc, S:automerge, T:bug

#5464 docs: fix links to adr 56
  docs/architecture/README.md
  docs/architecture/adr-047-handling-evidence-from-light-client.md
Labels: C:docs, S:automerge

#5453 test: remove P2P tests
  .circleci/config.yml
  .github/workflows/net.yml
  scripts/localnet-blocks-test.sh
  test/README.md
  test/p2p/README.md
  test/p2p/address.sh
  test/p2p/atomic_broadcast/test.sh
  test/p2p/basic/test.sh
  test/p2p/circleci.sh
  test/p2p/client.sh
  test/p2p/dsrr/check_peer.sh
  test/p2p/dsrr/test.sh
  test/p2p/dsrr/test_peer.sh
  test/p2p/fast_sync/check_peer.sh
  test/p2p/fast_sync/test.sh
  test/p2p/fast_sync/test_peer.sh
  test/p2p/kill_all/check_peers.sh
  test/p2p/kill_all/test.sh
  test/p2p/local_testnet_start.sh
  test/p2p/local_testnet_stop.sh
  test/p2p/peer.sh
  test/p2p/persistent_peers.sh
  test/p2p/pex/check_peer.sh
  test/p2p/pex/dial_peers.sh
  test/p2p/pex/test.sh
  test/p2p/pex/test_addrbook.sh
  test/p2p/pex/test_dial_peers.sh
  test/p2p/test.sh
  test/persist/test_failure_indices.sh
  test/persist/test_simple.sh
  test/persist/txs.sh
  tests.mk
Labels: S:automerge, T:test

#5467 docs: add branch and path prefix to versioned docs
  Makefile
  docs/versions
Labels: C:docs

#5465 test: add E2E test for node peering
  test/e2e/Makefile
  test/e2e/networks/ci.toml
  test/e2e/runner/main.go
  test/e2e/tests/net_test.go
Labels: S:automerge, T:test

#5468 docs: docs-staging → master
  Makefile
  docs/.vuepress/config.js
  docs/package.json
  docs/versions
Labels: C:docs, S:automerge

#5471 ci/e2e: avoid running job when no go files are touched
  .github/workflows/e2e.yml
Labels: S:automerge

#5449 evidence: use bytes instead of quantity to limit size
  CHANGELOG_PENDING.md
  config/toml.go
  consensus/reactor_test.go
  evidence/doc.go
  evidence/mocks/state_store.go
  evidence/pool.go
  evidence/pool_test.go
  evidence/reactor_test.go
  evidence/verify_test.go
  node/node_test.go
  proto/tendermint/types/params.pb.go
  proto/tendermint/types/params.proto
  state/execution.go
  state/mocks/evidence_pool.go
  state/services.go
  state/tx_filter.go
  state/tx_filter_test.go
  state/validation.go
  state/validation_test.go
  types/block.go
  types/block_test.go
  types/evidence.go
  types/evidence_test.go
  types/params.go
  types/params_test.go
  types/part_set.go
Labels: C:evidence, S:automerge

#5463 fix RPC blockresults return (#5459) (#5463)
  CHANGELOG_PENDING.md
  crypto/encoding/codec.go
Labels: C:rpc, S:backport

#5476 evidence: use bytes instead of quantity to limit size
  CHANGELOG_PENDING.md
  config/toml.go
  consensus/reactor_test.go
  evidence/doc.go
  evidence/mocks/state_store.go
  evidence/pool.go
  evidence/pool_test.go
  evidence/reactor_test.go
  evidence/verify_test.go
  node/node_test.go
  proto/tendermint/types/params.pb.go
  proto/tendermint/types/params.proto
  state/execution.go
  state/mocks/evidence_pool.go
  state/services.go
  state/tx_filter.go
  state/tx_filter_test.go
  state/validation.go
  state/validation_test.go
  types/block.go
  types/block_test.go
  types/evidence.go
  types/evidence_test.go
  types/params.go
  types/params_test.go
  types/part_set.go
Labels: C:evidence

#5447 abci: remove setOption
  CHANGELOG_PENDING.md
  UPGRADING.md
  abci/client/client.go
  abci/client/grpc_client.go
  abci/client/local_client.go
  abci/client/mocks/client.go
  abci/client/socket_client.go
  abci/cmd/abci-cli/abci-cli.go
  abci/example/counter/counter.go
  abci/example/kvstore/persistent_kvstore.go
  abci/server/socket_server.go
  abci/tests/server/client.go
  abci/tests/test_app/app.go
  abci/tests/test_app/main.go
  abci/tests/test_cli/ex2.abci
  abci/tests/test_cli/ex2.abci.out
  abci/types/application.go
  abci/types/messages.go
  abci/types/result.go
  abci/types/types.pb.go
  docs/app-dev/abci-cli.md
  docs/architecture/adr-029-check-tx-consensus.md
  docs/tutorials/go-built-in.md
  docs/tutorials/go.md
  evidence/mocks/block_store.go
  mempool/clist_mempool_test.go
  p2p/mocks/peer.go
  proto/tendermint/abci/types.proto
  proxy/app_conn.go
  proxy/mocks/app_conn_consensus.go
  proxy/mocks/app_conn_mempool.go
  proxy/mocks/app_conn_query.go
  proxy/mocks/app_conn_snapshot.go
  state/mocks/evidence_pool.go
  state/mocks/store.go
  statesync/mocks/state_provider.go
Labels: C:abci, T:code-hygiene

#5479 test/e2e: add random testnet generator
  test/e2e/Makefile
  test/e2e/README.md
  test/e2e/app/config.go
  test/e2e/app/main.go
  test/e2e/generator/generate.go
  test/e2e/generator/main.go
  test/e2e/generator/random.go
  test/e2e/generator/random_test.go
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/run-multiple.sh
  test/e2e/runner/main.go
  test/e2e/runner/setup.go
  test/e2e/tests/net_test.go
Labels: S:automerge, T:test

#5489 fix lint failures with 1.31
  .github/workflows/lint.yaml
  abci/example/kvstore/persistent_kvstore.go
  abci/tests/test_app/main.go
  abci/types/util.go
  blockchain/v0/pool.go
  blockchain/v0/pool_test.go
  blockchain/v0/reactor.go
  blockchain/v0/reactor_test.go
  blockchain/v1/reactor.go
  blockchain/v1/reactor_test.go
  blockchain/v2/scheduler.go
  consensus/byzantine_test.go
  consensus/common_test.go
  consensus/reactor.go
  consensus/reactor_test.go
  consensus/replay.go
  consensus/replay_test.go
  consensus/state.go
  consensus/state_test.go
  consensus/wal.go
  consensus/wal_generator.go
  consensus/wal_test.go
  libs/bytes/bytes.go
  libs/clist/clist_test.go
  libs/cmap/cmap_test.go
  libs/fail/fail.go
  libs/log/tracing_logger_test.go
  libs/math/fraction.go
  libs/protoio/io_test.go
  libs/pubsub/pubsub_test.go
  node/id.go
  p2p/conn/secret_connection_test.go
  p2p/switch_test.go
  p2p/upnp/upnp.go
  privval/signer_listener_endpoint_test.go
  proxy/app_conn_test.go
  rpc/client/examples_test.go
  rpc/client/rpc_test.go
  rpc/jsonrpc/client/http_json_client.go
  rpc/jsonrpc/client/ws_client.go
  rpc/jsonrpc/jsonrpc_test.go
  rpc/jsonrpc/server/http_json_handler.go
  rpc/jsonrpc/server/http_uri_handler.go
  rpc/jsonrpc/server/rpc_func.go
  rpc/jsonrpc/server/ws_handler.go
  rpc/test/helpers.go
  scripts/wal2json/main.go
  state/state.go
  state/state_test.go
  state/store.go
  state/txindex/kv/kv.go
  store/store.go
  types/events.go
  types/part_set_test.go
  types/priv_validator.go
  types/validator_set.go
  types/validator_set_test.go
  types/vote.go
Labels: T:code-hygiene

#5483 mempool: length prefix txs when getting them from mempool
  blockchain/msgs_test.go
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
  mempool/mempool.go
  proto/tendermint/types/types.pb.go
  proto/tendermint/types/types.proto
  rpc/client/rpc_test.go
  state/execution.go
  state/tx_filter_test.go
  types/block.go
  types/block_test.go
  types/tx.go
Labels: S:automerge

#5494 changelog: prepare changelog for RC5
  CHANGELOG.md
Labels: S:automerge

#5501 update changelog for rc5
  CHANGELOG.md
  CHANGELOG_PENDING.md
Labels: S:automerge

#5502 github: rename e2e jobs
  .github/workflows/e2e.yml
Labels: T:test

#5480 github: add nightly E2E testnet action
  .github/workflows/e2e-nightly.yml
  test/e2e/networks/ci.toml
  test/e2e/runner/load.go
  test/e2e/runner/start.go
Labels: S:automerge, T:test

#5509 test: clean up e2e container volumes using a container
  .github/workflows/e2e-nightly.yml
  .github/workflows/e2e.yml
  test/e2e/runner/cleanup.go
Labels: S:automerge, T:test

#5510 docs/tools: update url for kms repo
  docs/tools/remote-signer-validation.md
Labels: S:automerge

#5512 test: tweak E2E tests for nightly runs
  .github/workflows/e2e-nightly.yml
  test/e2e/generator/generate.go
  test/e2e/runner/rpc.go
Labels: S:automerge, T:test

#5516 statesync: check all necessary heights when adding snapshot to pool
  CHANGELOG_PENDING.md
  statesync/stateprovider.go
Labels: C:sync, S:automerge

#5518 statesync: check all necessary heights when adding snapshot to pool
  CHANGELOG_PENDING.md
  statesync/stateprovider.go
Labels: S:automerge, S:backport

#5523 types: rename json parts to part_set_header
  CHANGELOG_PENDING.md
  types/block.go
Labels: T:ux

#5503 crypto: add in secp256k1 support
  .markdownlintignore
  CHANGELOG.md
  UPGRADING.md
  abci/example/kvstore/persistent_kvstore.go
  crypto/ed25519/ed25519.go
  crypto/encoding/codec.go
  crypto/secp256k1/secp256k1.go
  crypto/secp256k1/secp256k1_internal_test.go
  crypto/secp256k1/secp256k1_nocgo.go
  crypto/secp256k1/secp256k1_test.go
  go.mod
  go.sum
  proto/tendermint/crypto/keys.pb.go
  proto/tendermint/crypto/keys.proto
  types/params_test.go
  types/protobuf.go
Labels: C:crypto, S:backport

#5520 abci/grpc: return async responses in order
  CHANGELOG_PENDING.md
  abci/client/grpc_client.go
Labels: C:abci, C:mempool, S:automerge, T:bug

#5521 test: enable ABCI gRPC client in E2E testnets
  test/e2e/generator/generate.go
  test/e2e/networks/ci.toml
Labels: S:automerge, T:test

#5531 abci/grpc: return async responses in order (#5520)
  CHANGELOG_PENDING.md
  abci/client/grpc_client.go
Labels: S:backport

#5533 test: enable blockchain v2 in E2E testnet generator
  test/e2e/generator/generate.go
Labels: S:automerge, T:test

#5536 consensus: open target WAL as read/write during autorepair
  CHANGELOG_PENDING.md
  consensus/state.go
Labels: S:automerge

#5537 test: enable restart/kill perturbations in E2E tests
  test/e2e/generator/generate.go
  test/e2e/networks/ci.toml
Labels: S:automerge, T:test

#5539 blockchain/v2: fix "panic: duplicate block enqueued by processor"
  CHANGELOG_PENDING.md
  blockchain/v2/processor.go
  blockchain/v2/reactor.go
  blockchain/v2/routine.go
  blockchain/v2/scheduler.go
  blockchain/v2/scheduler_test.go
Labels: S:automerge

#5547 consensus: open target WAL as read/write during autorepair
  CHANGELOG_PENDING.md
  consensus/state.go
Labels: S:backport

#5551 ci: docker remove circleci and add github action
  .circleci/config.yml
  .github/workflows/docker.yml
Labels: S:backport

#5552 blockchain/v1: add noBlockResponse handling (#5401)
  blockchain/v1/reactor.go
  blockchain/v1/reactor_fsm.go
  blockchain/v1/reactor_fsm_test.go
Labels: S:backport

#5557 test: run remaining E2E testnets on run-multiple.sh failure
  test/e2e/run-multiple.sh
Labels: S:automerge, T:test

#5559 github: only notify nightly E2E failures once
  .github/workflows/e2e-nightly.yml
Labels: S:automerge, T:test

#5558 test: tag E2E Docker resources and autoremove them
  test/e2e/runner/cleanup.go
  test/e2e/runner/setup.go
Labels: S:automerge, T:test

#5488 test: add consensus e2e tests
  .gitignore
  test/e2e/Makefile
  test/e2e/app/config.go
  test/e2e/app/main.go
  test/e2e/docker/Dockerfile
  test/e2e/docker/entrypoint-maverick
  test/e2e/generator/generate.go
  test/e2e/generator/main.go
  test/e2e/generator/random.go
  test/e2e/networks/ci.toml
  test/e2e/networks/simple.toml
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/main.go
  test/e2e/runner/setup.go
  test/e2e/runner/wait.go
  test/e2e/tests/app_test.go
  test/e2e/tests/block_test.go
  test/e2e/tests/e2e_test.go
  test/e2e/tests/evidence_test.go
  test/e2e/tests/net_test.go
  test/e2e/tests/validator_test.go
  test/maverick/README.md
  test/maverick/consensus/metrics.go
  test/maverick/consensus/misbehavior.go
  test/maverick/consensus/msgs.go
  test/maverick/consensus/reactor.go
  test/maverick/consensus/replay.go
  test/maverick/consensus/replay_file.go
  test/maverick/consensus/replay_stubs.go
  test/maverick/consensus/state.go
  test/maverick/consensus/ticker.go
  test/maverick/consensus/wal.go
  test/maverick/consensus/wal_fuzz.go
  test/maverick/consensus/wal_generator.go
  test/maverick/main.go
  test/maverick/node/node.go
  test/maverick/node/privval.go
Labels: T:test

#5556 abci/grpc: fix ordering of sync/async callback combinations
  abci/client/grpc_client.go
Labels: C:abci, S:automerge

#5567 fix max commit sig size
  state/tx_filter_test.go
  types/block.go
  types/block_test.go
Labels: T:bug

#5563 test: fix handling of start height in generated E2E testnets
  test/e2e/generator/generate.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/main.go
  test/e2e/runner/start.go
  test/e2e/runner/wait.go
Labels: S:automerge, T:test

#5569 test: disable E2E misbehaviors due to bugs
  test/e2e/generator/generate.go
  test/e2e/networks/ci.toml
Labels: S:automerge, T:test

#5568 block: max commit size backport
  CHANGELOG_PENDING.md
  state/tx_filter_test.go
  types/block.go
  types/block_test.go
Labels: S:backport

#5562 abci/grpc: fix ordering of sync/async callback combinations (#5556)
  abci/client/grpc_client.go
Labels: S:backport

#5457 docs: footer cleanup
  docs/.vuepress/config.js
Labels: S:automerge

#5574 evidence: ignore when a peer sends committed evidence
  CHANGELOG_PENDING.md
  evidence/pool.go
  evidence/reactor.go
  evidence/reactor_test.go
  evidence/verify.go
Labels: C:evidence, T:bug

#5576 test: fix various E2E test issues
  test/e2e/generator/generate.go
  test/e2e/networks/ci.toml
  test/e2e/pkg/testnet.go
  test/e2e/runner/cleanup.go
  test/e2e/runner/main.go
  test/e2e/runner/start.go
  test/e2e/tests/app_test.go
  test/e2e/tests/block_test.go
  test/e2e/tests/validator_test.go
Labels: S:automerge, T:test

#5583 privval: make response values non nullable
  privval/msgs_test.go
  privval/signer_client.go
  privval/signer_client_test.go
  privval/signer_requestHandler.go
  proto/tendermint/privval/types.pb.go
  proto/tendermint/privval/types.proto
Labels: S:automerge, T:bug, T:validator

#5585 backport: privval non-nullable changes
  CHANGELOG_PENDING.md
  privval/msgs_test.go
  privval/signer_client.go
  privval/signer_client_test.go
  privval/signer_requestHandler.go
  proto/tendermint/privval/types.pb.go
  proto/tendermint/privval/types.proto
Labels: S:backport, T:validator

#5553 blockchain/v2: make the removal of an already removed peer a noop
  CHANGELOG_PENDING.md
  blockchain/v2/scheduler.go
  blockchain/v2/scheduler_test.go
  p2p/switch.go
Labels: S:automerge

#5592 docs: add ADR on P2P refactor scope
  docs/architecture/adr-061-p2p-refactor-scope.md
Labels: C:docs, C:p2p, S:automerge

#5598 p2p: remove p2p.FuzzedConnection and its config settings
  CHANGELOG_PENDING.md
  config/config.go
  p2p/fuzz.go
  p2p/test_util.go
Labels: C:p2p, S:automerge, T:test
