Repository tendermint/tendermint, pull requests merged in 2020-08, with the labels that each got.

#5196 ci: freeze golangci action version
  .github/workflows/lint.yaml
  .golangci.yml
  crypto/merkle/proof_key_path_test.go
  libs/rand/random.go
  light/client.go
  proxy/client.go
  rpc/jsonrpc/server/http_server_test.go
  statesync/snapshots.go
Labels: S:automerge

#5203 changelog: add v0.33.7 release
  CHANGELOG.md
Labels: S:automerge

#5211 node: don't attempt fast sync when InitChain sets self as only validator
  CHANGELOG_PENDING.md
  node/node.go
Labels: S:automerge

#5214 crypto: consistent api across keys
  CHANGELOG_PENDING.md
  crypto/secp256k1/secp256k1.go
  crypto/secp256k1/secp256k1_test.go
Labels: C:crypto, S:automerge

#5223 contributing: add steps for adding and removing rc branches
  CONTRIBUTING.md
Labels: S:automerge

#5193 merkle: return hashes for empty merkle trees
  CHANGELOG_PENDING.md
  UPGRADING.md
  blockchain/msgs_test.go
  consensus/replay.go
  crypto/merkle/hash.go
  crypto/merkle/proof.go
  crypto/merkle/rfc6962_test.go
  crypto/merkle/tree.go
  crypto/merkle/tree_test.go
  types/block_test.go
  types/part_set.go
  types/validator_set.go
  types/validator_set_test.go
Labels: S:automerge, T:breaking

#5225 evidence: remove validator index verification
  rpc/client/evidence_test.go
  types/evidence.go
  types/evidence_test.go
Labels: C:evidence

#5221 test: protobuf vectors for reactors
  blockchain/msgs_test.go
  consensus/msgs_test.go
  evidence/reactor_test.go
  mempool/reactor_test.go
  p2p/conn/connection_test.go
  p2p/pex/pex_reactor.go
  p2p/pex/pex_reactor_test.go
  privval/msgs.go
  privval/msgs_test.go
  privval/signer_client.go
  privval/signer_requestHandler.go
  proto/tendermint/privval/types.pb.go
  proto/tendermint/privval/types.proto
  statesync/messages.go
  statesync/messages_test.go
Labels: S:automerge, T:test

#5227 abci: add ResponseInitChain.app_hash, check and record it
  CHANGELOG_PENDING.md
  UPGRADING.md
  abci/types/types.pb.go
  consensus/replay.go
  proto/tendermint/abci/types.proto
Labels: C:abci, S:automerge, T:breaking

#5191 genesis: add support for arbitrary initial height
  CHANGELOG_PENDING.md
  UPGRADING.md
  abci/types/types.pb.go
  cmd/tendermint/commands/testnet.go
  config/toml.go
  consensus/common_test.go
  consensus/reactor.go
  consensus/reactor_test.go
  consensus/replay.go
  consensus/replay_test.go
  consensus/state.go
  consensus/state_test.go
  evidence/pool_test.go
  node/node.go
  proto/tendermint/abci/types.proto
  proto/tendermint/state/types.pb.go
  proto/tendermint/state/types.proto
  rpc/core/env.go
  state/execution.go
  state/execution_test.go
  state/state.go
  state/store.go
  state/store_test.go
  state/validation.go
  statesync/stateprovider.go
  types/block.go
  types/genesis.go
  types/genesis_test.go
Labels: C:consensus, S:automerge

#5231 state: don't save genesis state in database when loaded
  CHANGELOG_PENDING.md
  node/node.go
  state/state_test.go
  state/store.go
Labels: S:automerge

#5233 db: add support for badgerdb
  CHANGELOG_PENDING.md
  cmd/tendermint/commands/run_node.go
  config/config.go
  config/toml.go
  docs/tendermint-core/configuration.md
  go.mod
  go.sum
Labels: S:automerge

#5237 consensus: don't check InitChain app hash vs genesis app hash, replace it
  CHANGELOG_PENDING.md
  UPGRADING.md
  consensus/replay.go
Labels: S:automerge

#5236 crypto: API modifications
  CHANGELOG_PENDING.md
  consensus/state.go
  crypto/crypto.go
  crypto/ed25519/ed25519.go
  crypto/ed25519/ed25519_test.go
  crypto/internal/benchmarking/bench.go
  crypto/secp256k1/secp256k1_cgo.go
  crypto/secp256k1/secp256k1_nocgo.go
  crypto/secp256k1/secp256k1_nocgo_test.go
  crypto/secp256k1/secp256k1_test.go
  crypto/sr25519/pubkey.go
  crypto/sr25519/sr25519_test.go
  p2p/conn/secret_connection.go
  rpc/client/evidence_test.go
  tools/tm-signer-harness/internal/test_harness.go
  types/evidence.go
  types/proposal_test.go
  types/protobuf_test.go
  types/validator_set.go
  types/vote.go
  types/vote_test.go
Labels: C:crypto, S:automerge

#5240 changelog: update for 0.34.0-rc3
  CHANGELOG.md
  CHANGELOG_PENDING.md
  UPGRADING.md
Labels: S:automerge

#5242 changelog: add v0.33.8 from release
  CHANGELOG.md
Labels: S:automerge

#5243 add dependabot config
  .github/dependabot.yml
Labels: S:automerge

#5232 expand ADR template
  docs/architecture/adr-template.md
Labels: C:docs, S:automerge, S:proposal

#5249 blockchain: fix fast sync halt with initial height > 1
  CHANGELOG_PENDING.md
  blockchain/v0/reactor.go
  blockchain/v1/reactor.go
  blockchain/v2/reactor.go
  blockchain/v2/scheduler.go
  blockchain/v2/scheduler_test.go
Labels: S:automerge

#5250 light: update ADR 47 with light traces
  docs/architecture/adr-047-handling-evidence-from-light-client.md
Labels: C:light

#5239 privval: add chainID to requests
  CHANGELOG_PENDING.md
  UPGRADING.md
  node/node.go
  privval/signer_client.go
  privval/signer_client_test.go
  privval/signer_requestHandler.go
  proto/tendermint/privval/types.pb.go
  proto/tendermint/privval/types.proto
  tools/tm-signer-harness/internal/test_harness.go
Labels: S:automerge, T:validator

#5255 remove basecoin from tools/k8s
  tools/mintnet-kubernetes/examples/basecoin/Makefile
  tools/mintnet-kubernetes/examples/basecoin/README.md
  tools/mintnet-kubernetes/examples/basecoin/app.yaml
  tools/mintnet-kubernetes/examples/basecoin/lightclient.md
Labels: S:automerge

#5253 add build into make build-docker
  DOCKER/README.md
  Makefile
  docs/networks/docker-compose.md
  networks/local/localnode/Dockerfile
Labels: C:docs, S:automerge

#5254 lint: add markdown linter
  .github/workflows/linter.yml
  .markdownlint.yml
  .markdownlintignore
  CHANGELOG_PENDING.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DOCKER/README.md
  PHILOSOPHY.md
  README.md
  SECURITY.md
  STYLE_GUIDE.md
  UPGRADING.md
  abci/README.md
  abci/example/kvstore/README.md
  consensus/README.md
  crypto/merkle/README.md
  docs/DOCS_README.md
  docs/app-dev/abci-cli.md
  docs/app-dev/app-architecture.md
  docs/app-dev/app-development.md
  docs/app-dev/getting-started.md
  docs/app-dev/indexing-transactions.md
  docs/app-dev/subscribing-to-events-via-websocket.md
  docs/guides/go-built-in.md
  docs/guides/go.md
  docs/guides/java.md
  docs/guides/kotlin.md
  docs/interviews/tendermint-bft.md
  docs/introduction/README.md
  docs/introduction/architecture.md
  docs/introduction/install.md
  docs/introduction/quick-start.md
  docs/introduction/what-is-tendermint.md
  docs/networks/docker-compose.md
  docs/networks/terraform-and-ansible.md
  docs/tendermint-core/configuration.md
  docs/tendermint-core/how-to-read-logs.md
  docs/tendermint-core/light-client-protocol.md
  docs/tendermint-core/mempool.md
  docs/tendermint-core/metrics.md
  docs/tendermint-core/running-in-production.md
  docs/tendermint-core/using-tendermint.md
  docs/tendermint-core/validators.md
  docs/tools/README.md
  docs/tools/debugging.md
  docs/tools/remote-signer-validation.md
  libs/events/README.md
  libs/flowrate/README.md
  rpc/core/CONTRIBUTING.md
  scripts/release_management/README.md
  test/README.md
  test/p2p/README.md
Labels: C:docs, S:automerge

#5252 docs: cleanup
  docs/app-dev/abci-cli.md
  docs/app-dev/app-architecture.md
  docs/app-dev/app-development.md
  docs/app-dev/getting-started.md
  docs/app-dev/indexing-transactions.md
  docs/introduction/architecture.md
  docs/introduction/install.md
  docs/introduction/quick-start.md
  docs/introduction/what-is-tendermint.md
  docs/package-lock.json
  docs/ru/introduction/readme.md
  docs/ru/readme.md
  docs/tendermint-core/README.md
  docs/tendermint-core/block-structure.md
  docs/tendermint-core/fast-sync.md
  docs/tendermint-core/light-client.md
  docs/tendermint-core/metrics.md
  docs/tendermint-core/rpc.md
  docs/tendermint-core/running-in-production.md
  docs/tendermint-core/using-tendermint.md
  docs/tendermint-core/validators.md
  docs/tutorials/go-built-in.md
  docs/tutorials/go.md
  docs/tutorials/java.md
  docs/tutorials/kotlin.md
  docs/tutorials/readme.md
  rpc/swagger/swagger.yaml
Labels: C:docs

#5257 swagger: update
  rpc/swagger/swagger.yaml
Labels: C:docs, C:rpc, S:automerge

#5261 Fix some broken links
  docs/architecture/README.md
  docs/architecture/adr-014-secp-malleability.md
  docs/architecture/adr-023-ABCI-propose-tx.md
  docs/architecture/adr-044-lite-client-with-weak-subjectivity.md
  docs/architecture/adr-045-abci-evidence.md
  docs/introduction/what-is-tendermint.md
  docs/networks/docker-compose.md
  docs/tendermint-core/how-to-read-logs.md
  docs/tutorials/go-built-in.md
  docs/tutorials/go.md
  docs/tutorials/java.md
  docs/tutorials/kotlin.md
Labels: C:docs, S:automerge

#5264 docs: update ADR 56 with short term amnesia solution
  docs/architecture/adr-056-proving-amnesia-attacks.md
Labels: C:docs

#5271 docs: dont display duplicate
  docs/introduction/architecture.md
Labels: C:docs, S:automerge

#5272 ci: fix net pipeline
  .github/workflows/net.yml
  DOCKER/README.md
  Makefile
Labels: S:automerge

#5234 evidence: modularise evidence by moving verification function into evidence package
  consensus/byzantine_test.go
  consensus/common_test.go
  consensus/reactor_test.go
  consensus/replay_stubs.go
  evidence/mocks/block_store.go
  evidence/pool.go
  evidence/pool_test.go
  evidence/reactor_test.go
  evidence/services.go
  evidence/verify.go
  evidence/verify_test.go
  light/store/store.go
  node/node.go
  node/node_test.go
  state/mocks/evidence_pool.go
  state/services.go
  state/validation.go
  state/validation_test.go
  types/evidence.go
Labels: C:evidence

#5275 ci: delay codecov notification
  codecov.yml
Labels: S:automerge

#5277 fix go 1.15 errors
  libs/cmap/cmap_test.go
  libs/pubsub/pubsub_test.go
  p2p/upnp/upnp.go
Labels: S:automerge, T:code-hygiene

#5267 docs: fix go tutorials
  docs/tutorials/go-built-in.md
  docs/tutorials/go.md
Labels: C:docs, S:automerge

#5241 docs: versioned
  Makefile
  docs/.vuepress/config.js
  docs/versions
Labels: C:docs, S:automerge

#5279 docs: remove duplicate secure p2p
  docs/tendermint-core/README.md
  docs/tendermint-core/secure-p2p.md
Labels: C:docs, S:automerge, T:code-hygiene

#5278 blockchain: verify +2/3
  CHANGELOG_PENDING.md
  blockchain/v0/reactor.go
  blockchain/v1/reactor.go
  blockchain/v2/processor_context.go
Labels: S:automerge

#5282 docs: remove interview transcript
  docs/interviews/readme.md
  docs/interviews/tendermint-bft.md
Labels: C:docs, S:automerge

#5283 types: comment on need for length prefixing
  types/proposal.go
  types/vote.go
Labels: S:automerge

#5284 docs: add block retention to upgrading.md
  UPGRADING.md
Labels: C:docs, S:automerge

#5285 docs: updates to various sections
  .circleci/config.yml
  README.md
  docs/.python-version
  docs/introduction/README.md
  docs/introduction/install.md
  docs/introduction/quick-start.md
  docs/tendermint-core/configuration.md
  docs/tendermint-core/fast-sync.md
  docs/tendermint-core/mempool.md
  docs/tendermint-core/running-in-production.md
  docs/tendermint-core/using-tendermint.md
  rpc/openapi/openapi.yaml
Labels: C:docs, S:automerge

#5294 mocks: update with 2.2.1
  evidence/mocks/block_store.go
  p2p/mocks/peer.go
  p2p/peer.go
  proxy/app_conn.go
  proxy/mocks/app_conn_consensus.go
  proxy/mocks/app_conn_mempool.go
  proxy/mocks/app_conn_query.go
  proxy/mocks/app_conn_snapshot.go
  state/mocks/evidence_pool.go
  statesync/mocks/state_provider.go
  statesync/stateprovider.go
Labels: S:automerge, T:code-hygiene, T:test

#5297 config: trust period consistency
  config/config.go
Labels: C:light, C:sync, S:automerge

#5301 crypto: remove proto privatekey
  crypto/encoding/codec.go
  proto/tendermint/crypto/keys.pb.go
  proto/tendermint/crypto/keys.proto
Labels: C:crypto, S:automerge, T:code-hygiene

#5302 node: fix genesis state propagation to state sync
  CHANGELOG_PENDING.md
  node/node.go
Labels: S:automerge

#5309 docs: add algolia docsearch configs
  docs/.vuepress/config.js
Labels: C:docs

#5307 fix validator set proposer priorities in light client provider
  CHANGELOG_PENDING.md
  light/provider/http/http.go
  types/validator_set.go
  types/validator_set_test.go
Labels: C:light

#5311 statesync: fix valset off-by-one causing consensus failures
  CHANGELOG_PENDING.md
  statesync/stateprovider.go
Labels: S:automerge

#5304 docs: add doc on state sync configuration
  docs/tendermint-core/README.md
  docs/tendermint-core/light-client.md
  docs/tendermint-core/mempool.md
  docs/tendermint-core/running-in-production.md
  docs/tendermint-core/state-sync.md
Labels: C:docs, C:sync, S:automerge
