Repository tendermint/tendermint, pull requests merged in 2020-01, with the labels that each got.

#4257 rpc: add method block_by_hash
  CHANGELOG_PENDING.md
  consensus/replay_test.go
  rpc/core/blocks.go
  rpc/core/blocks_test.go
  rpc/core/routes.go
  rpc/swagger/swagger.yaml
  state/services.go
  store/store.go
Labels: feature, rpc

#4283 metrics: add metric for when commit is nil
  consensus/state.go
  types/block.go
Labels: observability

#4254 evidence: introduce time.Duration to evidence params
  CHANGELOG_PENDING.md
  Makefile
  abci/types/types.pb.go
  abci/types/types.proto
  abci/types/typespb_test.go
  consensus/reactor_test.go
  docs/tendermint-core/using-tendermint.md
  evidence/pool.go
  evidence/pool_test.go
  evidence/reactor.go
  evidence/reactor_test.go
  evidence/store_test.go
  node/node_test.go
  rpc/client/rpc_test.go
  state/execution_test.go
  state/helpers_test.go
  state/state_test.go
  state/validation.go
  state/validation_test.go
  tools/tm-signer-harness/internal/test_harness_test.go
  types/block_test.go
  types/evidence.go
  types/evidence_test.go
  types/params.go
  types/params_test.go
  types/protobuf.go
Labels: evidence

#4295 cs: check if cs.privValidator is nil
  consensus/state.go
Labels: R4R, consensus

#4209 lite: Follow up from #3989
  lite/dynamic_verifier.go
  lite2/auto_client.go
  lite2/auto_client_test.go
  lite2/client.go
  lite2/client_test.go
  lite2/doc.go
  lite2/errors.go
  lite2/example_test.go
  lite2/provider/http/http.go
  lite2/rpc/client.go
  lite2/store/db/db.go
  lite2/store/db/db_test.go
  lite2/store/store.go
  lite2/test_helpers.go
  lite2/verifier.go
  lite2/verifier_test.go
  types/validator_set.go
Labels: R4R, lite

#4300 cmd/lite: switch to new lite2 package
  CHANGELOG_PENDING.md
  cmd/tendermint/commands/lite.go
  lite/doc.go
  lite2/client.go
  lite2/proxy/proxy.go
  lite2/verifier.go
Labels: lite

#4289 dep: update tm-db to 0.4.0
  CHANGELOG_PENDING.md
  abci/example/kvstore/kvstore.go
  abci/example/kvstore/persistent_kvstore.go
  evidence/store.go
  go.mod
  go.sum
  lite/dbprovider.go
  lite2/store/db/db.go
  node/node.go
  p2p/trust/store.go
  state/store.go
  state/txindex/kv/kv.go
  store/store.go
  store/store_test.go
Labels: dependencies

#4307 docs: add link for installing Tendermint
  docs/guides/go-built-in.md
  docs/guides/go.md
Labels: R4R, docs

#4320 rpc: check nil blockmeta
  CHANGELOG_PENDING.md
  rpc/core/blocks.go
Labels: enhancement, rpc

#4323 rpc: PR#4320 follow up
  rpc/core/abci.go
  rpc/core/blocks.go
  rpc/core/consensus.go
  rpc/core/events.go
  rpc/core/evidence.go
  rpc/core/health.go
  rpc/core/mempool.go
  rpc/core/net.go
  rpc/core/status.go
  rpc/core/tx.go
Labels: R4R, rpc

#4304 proto: add linting & breakage check
  abci/types/types.pb.go
  buf.yaml
  config/config.go
  consensus/wal_generator.go
  crypto/merkle/merkle.pb.go
  libs/kv/types.pb.go
  p2p/netaddress.go
  rpc/core/abci.go
  rpc/core/blocks.go
  rpc/core/consensus.go
  rpc/core/events.go
  rpc/core/evidence.go
  rpc/core/health.go
  rpc/core/mempool.go
  rpc/core/net.go
  rpc/core/status.go
  rpc/core/tx.go
  rpc/grpc/types.pb.go
  rpc/lib/rpc_test.go
  rpc/lib/test/main.go
  rpc/test/helpers.go
  scripts/protocgen.sh
Labels: breaking, code-hygiene, major-release, proto

#4326 lite2: move AutoClient into Client
  cmd/tendermint/commands/lite.go
  lite2/auto_client.go
  lite2/auto_client_test.go
  lite2/client.go
  lite2/client_test.go
  lite2/example_test.go
  lite2/provider/errors.go
  lite2/provider/http/http.go
  lite2/provider/mock/mock.go
  lite2/provider/provider.go
  lite2/store/db/db.go
  lite2/store/db/db_test.go
  lite2/store/store.go
Labels: lite

#4334 lite2: improve auto update
  lite2/client.go
  lite2/client_test.go
  lite2/example_test.go
  lite2/provider/mock/mock.go
Labels: R4R, lite

#4337 lite2: add Start, TrustedValidatorSet funcs
  lite2/client.go
  lite2/client_test.go
  lite2/example_test.go
Labels: light

#4342 rpc: add sort_order option to tx_search
  CHANGELOG_PENDING.md
  lite2/proxy/routes.go
  lite2/rpc/client.go
  rpc/client/httpclient.go
  rpc/client/interface.go
  rpc/client/localclient.go
  rpc/client/rpc_test.go
  rpc/core/routes.go
  rpc/core/tx.go
  rpc/swagger/swagger.yaml
  state/txindex/kv/kv.go
  state/txindex/kv/kv_test.go
Labels: rpc

#4344 lite2: rename alternative providers to witnesses
  lite2/client.go
Labels: light

#4348 docs: update links to rpc
  docs/app-dev/app-architecture.md
  docs/app-dev/indexing-transactions.md
  docs/app-dev/subscribing-to-events-via-websocket.md
  docs/tendermint-core/running-in-production.md
  docs/tendermint-core/using-tendermint.md
  rpc/core/consensus.go
Labels: docs, rpc

#4349 node: use GRPCMaxOpenConnections when creating the gRPC server
  CHANGELOG_PENDING.md
  node/node.go
Labels: rpc

#4345 lite2: batch save & delete operations in DB store
  lite2/store/db/db.go
Labels: light
