Repository tendermint/tendermint, pull requests merged in 2020-02, with the labels that each got.

#4358 lite2: make witnesses mandatory
  cmd/tendermint/commands/lite.go
  lite2/client.go
  lite2/client_test.go
  lite2/example_test.go
Labels: light

#4365 docs: update guides proto paths
  Makefile
  README.md
  docs/guides/go-built-in.md
  docs/guides/go.md
  docs/guides/java.md
  docs/guides/kotlin.md
Labels: docs

#4362 lite2: fetch missing headers
  lite2/client.go
  lite2/client_test.go
  lite2/store/db/db.go
  lite2/store/db/db_test.go
  lite2/store/errors.go
  lite2/store/store.go
  lite2/test_helpers.go
Labels: light

#4374 lite2: validate TrustOptions, add NewClientFromTrustedStore
  lite2/client.go
  lite2/client_test.go
Labels: light

#4369 proto: add buf and protogen script
  .circleci/config.yml
  CHANGELOG_PENDING.md
  CONTRIBUTING.md
  Makefile
  UPGRADING.md
  abci/types/types.pb.go
  abci/types/types.proto
  buf.yaml
  crypto/merkle/merkle.pb.go
  crypto/merkle/merkle.proto
  libs/kv/types.pb.go
  libs/kv/types.proto
  rpc/grpc/types.pb.go
  rpc/grpc/types.proto
  scripts/protocgen.sh
  third_party/proto/gogoproto/gogo.proto
  tools.mk
Labels: dev-ux, proto

#4384 docs: fix spec links
  UPGRADING.md
Labels: docs, spec

#4386 proto: minor linting to proto files
  abci/types/types.proto
  crypto/merkle/merkle.proto
  libs/kv/types.proto
  rpc/grpc/types.proto
  types/proto3/block.proto
Labels: proto

#4383 make: remove sentry setup cmds
  Makefile
  docs/networks/terraform-and-ansible.md
  networks/local/README.md
Labels: code-hygiene

#4391 readme: fix link to original paper
  README.md
Labels: docs

#4405 docs: update Light Client Protocol page
  cmd/tendermint/commands/lite.go
  docs/tendermint-core/light-client-protocol.md
  lite2/doc.go
Labels: docs

#4397 adr: light client implementation
  docs/architecture/README.md
  docs/architecture/adr-046-light-client-implementation.md
Labels: docs

#4388 lite2: disconnect from bad nodes
  lite2/client.go
  lite2/client_test.go
  lite2/provider/http/http.go
  lite2/trust_options.go
Labels: light

#4409 proto: move mempool to proto
  .circleci/config.yml
  abci/types/types.pb.go
  docs/app-dev/getting-started.md
  libs/kv/types.pb.go
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
  mempool/codec.go
  mempool/mempool.go
  mempool/reactor.go
  rpc/grpc/types.pb.go
  scripts/protocgen.sh
  state/tx_filter.go
  types/block.go
  types/tx.go
  types/tx_test.go
Labels: mempool, proto

#4412 lite2: divide verify functions
  lite2/client.go
  lite2/verifier.go
  lite2/verifier_test.go
Labels: light

#4424 dep: bump gokit dep
  go.mod
  go.sum
Labels: dependencies

#4436 dep: maunally bump dep
  go.mod
  go.sum
Labels: dependencies

#4437 rpc: fix tx_search pagination with ordered results
  CHANGELOG_PENDING.md
  rpc/client/rpc_test.go
  rpc/core/tx.go
Labels: rpc

#4400 lite: modified bisection to loop
  lite2/client.go
  lite2/client_test.go
  lite2/test_helpers.go
Labels: light

#4438 rpc: fix txsearch test corner-case
  rpc/client/rpc_test.go
Labels: R4R, rpc, test

#4446 rpc: fix TxSearch test nits
  rpc/client/rpc_test.go
Labels: rpc, test

#4448 Fix some golangci-lint warnings
  .golangci.yml
  abci/tests/test_app/main.go
  consensus/state.go
  crypto/secp256k1/secp256k1.go
  libs/autofile/group.go
  lite/helpers.go
  node/node.go
  p2p/switch.go
  p2p/test_util.go
  rpc/core/routes.go
  types/priv_validator.go
  types/protobuf.go
Labels: code-hygiene

#4428 lite2: return already verified headers and verify earlier headers
  lite2/client.go
  lite2/client_test.go
Labels: light

#4449 p2p: use curve25519.X25519() instead of ScalarMult()
  p2p/conn/secret_connection.go
Labels: code-hygiene

#4427 ADR-053: update after experimental prototype
  docs/architecture/adr-053-state-sync-prototype.md
Labels: feature, sync

#4459 circleci: run P2P IPv4 and IPv6 tests in parallel
  .circleci/config.yml
  test/p2p/circleci.sh
Labels: test

#4450 Fix unexported returns
  abci/client/grpc_client.go
  abci/client/local_client.go
  abci/client/socket_client.go
  abci/client/socket_client_test.go
  consensus/common_test.go
  consensus/replay_test.go
  consensus/wal.go
  lite/multiprovider.go
  p2p/conn_set.go
  p2p/pex/addrbook.go
  p2p/pex/addrbook_test.go
  p2p/pex/pex_reactor_test.go
  privval/socket_listeners.go
  proxy/app_conn.go
  proxy/multi_app_conn.go
  rpc/lib/server/ws_handler.go
Labels: code-hygiene

#4452 lite2: don't save intermediate headers
  lite2/client.go
  lite2/client_test.go
Labels: light

#4472 lite2: store current validator set
  docs/architecture/adr-046-light-client-implementation.md
  lite2/client.go
  lite2/client_test.go
  lite2/store/db/db.go
  lite2/store/db/db_test.go
  lite2/store/errors.go
  lite2/store/store.go
  lite2/verifier.go
Labels: C:light

#4471 lite2: cross-check first header and update tests
  docs/architecture/adr-046-light-client-implementation.md
  lite2/client.go
  lite2/client_test.go
Labels: C:light

#4477 lite2: remove expiration checks on functions that don't require them
  docs/architecture/adr-046-light-client-implementation.md
  lite2/client.go
  lite2/client_test.go
  lite2/example_test.go
  lite2/rpc/client.go
Labels: C:light, T:breaking

#4478 lite2: prune-headers
  lite2/client.go
  lite2/client_test.go
  lite2/store/db/db.go
  lite2/store/db/db_test.go
  lite2/store/store.go
Labels: C:light

#4479 lite2: return height as 2nd return param in TrustedValidatorSet
  docs/architecture/adr-046-light-client-implementation.md
  lite2/client.go
  lite2/client_test.go
Labels: C:light, T:breaking

#4418 Stop txSearch result processing if context is done
  rpc/client/httpclient.go
  rpc/client/rpc_test.go
  rpc/core/tx.go
  state/txindex/indexer.go
  state/txindex/kv/kv.go
  state/txindex/kv/kv_bench_test.go
  state/txindex/kv/kv_test.go
  state/txindex/null/null.go
Labels: C:rpc

#4496 docs: adr-046 add bisection algorithm details
  docs/architecture/adr-046-light-client-implementation.md
  docs/architecture/img/adr-046-fig1.png
Labels: C:docs, C:light

#4498 swagger: update swagger endpoint
  rpc/swagger/swagger.yaml
Labels: C:rpc

#4497 circleci: fix reproducible builds test
  .circleci/config.yml
Labels: T:test

#4490 tool: add Mergify
  .mergify.yml
Labels: S:automerge

#4500 test: simplify txsearch cancellation test
  state/txindex/kv/kv_test.go
Labels: S:automerge, T:test
