Repository tendermint/tendermint, pull requests merged in 2021-06, with the labels that each got.

#6513 crypto/merkle: optimize merkle tree hashing
  CHANGELOG_PENDING.md
  crypto/merkle/hash.go
  crypto/merkle/proof.go
  crypto/merkle/proof_key_path_test.go
  crypto/merkle/proof_test.go
  crypto/merkle/tree.go
Labels: S:automerge, T:perf

#6468 Mempool V1 Implementation
  CHANGELOG_PENDING.md
  UPGRADING.md
  mempool/cache.go
  mempool/cache_bench_test.go
  mempool/cache_test.go
  mempool/errors.go
  mempool/mempool.go
  mempool/mock/mempool.go
  mempool/tx.go
  mempool/v0/ids.go
  mempool/v1/mempool.go
  mempool/v1/mempool_bench_test.go
  mempool/v1/mempool_test.go
  mempool/v1/priority_queue.go
  mempool/v1/priority_queue_test.go
  mempool/v1/reactor.go
  mempool/v1/tx.go
  mempool/v1/tx_test.go
  node/setup.go
  test/e2e/tests/app_test.go
Labels: C:mempool

#6466 feature: mempool v1 implementation
  CHANGELOG_PENDING.md
  UPGRADING.md
  abci/types/types.pb.go
  config/config.go
  config/toml.go
  consensus/byzantine_test.go
  consensus/common_test.go
  consensus/reactor_test.go
  consensus/replay_stubs.go
  mempool/cache.go
  mempool/cache_bench_test.go
  mempool/cache_test.go
  mempool/errors.go
  mempool/ids.go
  mempool/ids_test.go
  mempool/mempool.go
  mempool/metrics.go
  mempool/mock/mempool.go
  mempool/tx.go
  mempool/v0/bench_test.go
  mempool/v0/cache_test.go
  mempool/v0/clist_mempool.go
  mempool/v0/clist_mempool_test.go
  mempool/v0/doc.go
  mempool/v0/reactor.go
  mempool/v0/reactor_test.go
  mempool/v1/mempool.go
  mempool/v1/mempool_bench_test.go
  mempool/v1/mempool_test.go
  mempool/v1/priority_queue.go
  mempool/v1/priority_queue_test.go
  mempool/v1/reactor.go
  mempool/v1/tx.go
  mempool/v1/tx_test.go
  node/node.go
  node/node_test.go
  node/setup.go
  proto/tendermint/abci/types.proto
  rpc/client/rpc_test.go
  rpc/core/mempool.go
  test/e2e/tests/app_test.go
  test/fuzz/mempool/checktx.go
Labels: C:mempool

#6509 p2p/pex: reuse hash.Hasher per addrbook for speed
  CHANGELOG_PENDING.md
  p2p/pex/addrbook.go
  p2p/pex/bench_test.go
Labels: S:automerge, S:backport-to-v0.34.x

#6524 docs: remove deployment
  .github/workflows/docs.yml
Labels: C:docs, S:automerge

#6522 p2p/conn: check for channel id overflow before processing receive msg
  p2p/conn/connection.go
  p2p/conn/connection_test.go
Labels: S:automerge, S:backport-to-v0.34.x

#6529 improvement: update TxInfo
  CHANGELOG_PENDING.md
  consensus/mempool_test.go
  consensus/reactor_test.go
  consensus/replay_stubs.go
  consensus/replay_test.go
  mempool/mempool.go
  mempool/mock/mempool.go
  mempool/tx.go
  mempool/v0/bench_test.go
  mempool/v0/cache_test.go
  mempool/v0/clist_mempool.go
  mempool/v0/clist_mempool_test.go
  mempool/v0/reactor.go
  mempool/v0/reactor_test.go
  mempool/v1/mempool.go
  mempool/v1/mempool_bench_test.go
  mempool/v1/mempool_test.go
  mempool/v1/reactor.go
  node/node_test.go
  rpc/client/rpc_test.go
  rpc/core/mempool.go
  test/fuzz/mempool/checktx.go
Labels: C:mempool, S:automerge

#6531 test: HeaderHash test vector
  types/block_test.go
Labels: S:automerge

#6536 test: add evidence hash testvectors
  types/evidence_test.go
  types/validator_set_test.go
  types/validator_test.go
  types/vote_set_test.go
Labels: S:automerge, T:test

#6538 types: revert breaking change
  CHANGELOG_PENDING.md
  light/mbt/json/MC4_4_faulty_Test2NotEnoughTrustFailure.json
  light/mbt/json/MC4_4_faulty_Test2NotEnoughTrustSuccess.json
  light/mbt/json/MC4_4_faulty_Test3NotEnoughTrustFailure.json
  light/mbt/json/MC4_4_faulty_Test3NotEnoughTrustSuccess.json
  light/mbt/json/MC4_4_faulty_TestFailure.json
  light/mbt/json/MC4_4_faulty_TestHeaderFromFuture.json
  light/mbt/json/MC4_4_faulty_TestSuccess.json
  light/mbt/json/MC4_4_faulty_TestUntrustedBeforeTrusted.json
  light/mbt/json/MC4_4_faulty_TestValsetDifferentAllSteps.json
  types/block.go
Labels: C:rpc, S:automerge

#6545 docs: logger updates
  docs/nodes/configuration.md
  docs/nodes/logging.md
  docs/nodes/running-in-production.md
  test/e2e/pkg/manifest.go
Labels: C:docs, S:automerge

#6550 dep: remove IAVL dependency
  go.mod
  go.sum
  light/rpc/client_test.go
Labels: S:automerge, T:dependencies

#6549 metrics: change blocksize to a histogram
  CHANGELOG_PENDING.md
  internal/consensus/metrics.go
  internal/consensus/state.go
Labels: C:consensus, S:automerge, T:observability, T:ux

#6518 blockchain/v0: fix data race in blockchain channel
  internal/blockchain/v0/reactor.go
Labels: S:automerge

#6541 state: move pruneBlocks from consensus/state to state/execution
  CHANGELOG_PENDING.md
  internal/blockchain/v0/reactor.go
  internal/blockchain/v0/reactor_test.go
  internal/blockchain/v2/processor_context.go
  internal/blockchain/v2/reactor.go
  internal/blockchain/v2/reactor_test.go
  internal/consensus/byzantine_test.go
  internal/consensus/common_test.go
  internal/consensus/reactor_test.go
  internal/consensus/replay.go
  internal/consensus/replay_file.go
  internal/consensus/replay_test.go
  internal/consensus/state.go
  internal/consensus/wal_generator.go
  node/node.go
  node/node_test.go
  state/execution.go
  state/execution_test.go
  state/helpers_test.go
  state/validation_test.go
Labels: C:state, S:automerge

#6567 state/types: refactor makeBlock, makeBlocks and makeTxs
  internal/blockchain/v0/reactor_test.go
  internal/blockchain/v0/test_util.go
  internal/blockchain/v2/reactor_test.go
  internal/consensus/replay_test.go
  internal/evidence/pool_test.go
  internal/test/factory/tx.go
  state/execution_test.go
  state/helpers_test.go
  state/state_test.go
  state/test/factory/block.go
  state/validation_test.go
  store/store_test.go
Labels: S:automerge

#6565 statesync: tune backfill process
  internal/statesync/block_queue.go
  internal/statesync/reactor.go
  internal/statesync/reactor_test.go
  internal/statesync/syncer.go
  node/node.go
  test/e2e/runner/evidence.go
  test/e2e/runner/perturb.go
Labels: S:automerge

#6574 linter: linter checks non-ASCII identifiers
  .golangci.yml
Labels: S:automerge

#6386 rpc: add subscription id to events
  go.mod
  go.sum
  internal/consensus/replay_file.go
  libs/pubsub/pubsub.go
  libs/pubsub/pubsub_test.go
  libs/pubsub/subscription.go
  rpc/client/http/ws.go
  rpc/client/local/local.go
  rpc/core/events.go
  rpc/core/mempool.go
  rpc/core/types/responses.go
  types/event_bus.go
Labels: S:automerge

#6566 state sync: tune request timeout and chunkers
  CHANGELOG_PENDING.md
  config/config.go
  config/toml.go
  internal/statesync/reactor.go
  internal/statesync/reactor_test.go
  internal/statesync/syncer.go
  node/node.go
Labels: C:sync, S:backport-to-v0.34.x

#6590 fastsync: update the metrics during fast-sync
  CHANGELOG_PENDING.md
  internal/blockchain/v0/reactor.go
  internal/blockchain/v0/reactor_test.go
  internal/blockchain/v2/processor.go
  internal/blockchain/v2/processor_context.go
  internal/blockchain/v2/reactor.go
  internal/blockchain/v2/reactor_test.go
  internal/consensus/metrics.go
  internal/consensus/reactor.go
  internal/consensus/state.go
  node/node.go
  node/setup.go
Labels: C:consensus, C:sync, S:automerge, T:observability, T:ux

#6610 rpc: add max peer block height into /status rpc call
  CHANGELOG_PENDING.md
  internal/blockchain/v0/reactor.go
  internal/blockchain/v2/reactor.go
  internal/consensus/reactor.go
  node/node.go
  rpc/client/mock/status_test.go
  rpc/core/env.go
  rpc/core/status.go
  rpc/core/types/responses.go
  rpc/openapi/openapi.yaml
Labels: C:rpc, C:sync, S:automerge, T:observability, T:ux

#6615 rpc: Add `TotalGasUsed` to `block_results` response
  CHANGELOG_PENDING.md
  rpc/core/blocks.go
  rpc/core/blocks_test.go
  rpc/core/types/responses.go
  rpc/openapi/openapi.yaml
Labels: C:rpc, S:automerge, T:ux

#6609 p2p: reduce buffering on channels
  internal/blockchain/v0/reactor.go
  internal/blockchain/v2/reactor.go
  internal/consensus/reactor.go
  internal/evidence/reactor.go
  internal/mempool/v0/reactor.go
  internal/mempool/v1/reactor.go
  internal/p2p/pex/reactor.go
  internal/p2p/router.go
  internal/statesync/reactor.go
  node/setup.go
Labels: S:automerge

#6535 rpc: re-index missing events
  docs/nodes/configuration.md
  rpc/core/dev.go
  rpc/core/dev_test.go
  rpc/core/routes.go
  rpc/core/types/responses.go
  rpc/openapi/openapi.yaml
  state/indexer/eventsink.go
  state/mocks/block_store.go
  state/mocks/event_sink.go
  state/services.go
Labels: C:events, C:indexer, T:enhancement, T:feature, T:ux

#6526 crypto: Use a different library for ed25519/sr25519
  CHANGELOG_PENDING.md
  crypto/batch/batch.go
  crypto/crypto.go
  crypto/ed25519/bench_test.go
  crypto/ed25519/ed25519.go
  crypto/ed25519/ed25519_test.go
  crypto/sr25519/batch.go
  crypto/sr25519/bench_test.go
  crypto/sr25519/encoding.go
  crypto/sr25519/privkey.go
  crypto/sr25519/pubkey.go
  crypto/sr25519/sr25519_test.go
  go.mod
  go.sum
  internal/p2p/conn/evil_secret_connection_test.go
  internal/p2p/conn/secret_connection.go
  privval/secret_connection.go
  types/validation.go
Labels: C:crypto, S:automerge, T:enhancement, T:perf

#6578 state/privval: no GetPubKey retry beyond the proposal/voting window
  CHANGELOG_PENDING.md
  internal/consensus/state.go
  privval/retry_signer_client.go
  types/priv_validator.go
Labels: S:automerge, T:validator

#6621 config: add example on external_address
  config/toml.go
Labels: S:automerge, S:backport-to-v0.34.x, T:ux

#6623 cmd/tendermint/commands: replace $HOME/.some/test/dir with t.TempDir
  CHANGELOG_PENDING.md
  cmd/tendermint/commands/root_test.go
Labels: S:automerge, T:test

#6625 tools: remove k8s
  tools/mintnet-kubernetes/README.rst
  tools/mintnet-kubernetes/app.template.yaml
  tools/mintnet-kubernetes/assets/gce1.png
  tools/mintnet-kubernetes/assets/gce2.png
  tools/mintnet-kubernetes/assets/statefulset.png
  tools/mintnet-kubernetes/assets/t_plus_k.png
  tools/mintnet-kubernetes/examples/counter/Makefile
  tools/mintnet-kubernetes/examples/counter/app.yaml
  tools/mintnet-kubernetes/examples/dummy/Makefile
  tools/mintnet-kubernetes/examples/dummy/app.yaml
  tools/mintnet-kubernetes/examples/dummy/tm-monitor-pod.yaml
  tools/mintnet-kubernetes/examples/dummy/transacter-pod.yaml
Labels: S:automerge

#6613 mempool: move errors to be public
  internal/mempool/v0/clist_mempool.go
  internal/mempool/v0/clist_mempool_test.go
  internal/mempool/v1/mempool.go
  pkg/mempool/errors.go
Labels: C:mempool, S:automerge, T:ux

#6626 libs/CList: automatically detach the prev/next elements in Remove function
  CHANGELOG_PENDING.md
  internal/evidence/pool.go
  internal/libs/clist/clist.go
  internal/libs/clist/clist_test.go
  internal/mempool/v0/clist_mempool.go
  internal/mempool/v1/mempool.go
Labels: C:libs, C:mempool, S:automerge
